@import 'bourbon';
@import 'variables';
@import 'mixins';

h1, p, a {
  font-family: $font-body;
}

table.header {
  img {
    width: 50px;
  }
}

hr {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid $light-gray;
}

p {
  color: $light-gray;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .5em;
}

strong, h1 {
  color: $black;
}

strong {
  font-weight: normal;
}

a {
  color: $blue;
}
