<%= render 'shared/navbar' %>

<div class="container">
  <div class="page-header">
    <h1>Canned Response</h1>
    <p>
      Create a canned response for messages that are sent often or need to be
      consistent. Start with a key, which is used to pull up the full response
      from the command bar. To learn more read the <a href="#">FAQ</a>.
    </p>
  </div>
  <%= render 'form' %>
</div>
