/** @jsx React.DOM */

var ArchiveZero = React.createClass({
  render: function() {
    return (
      <div>
        <div className="conversation conversation-row conversation-row-empty">
          <div className="summary text-center">
            <%= image_tag 'logo.png' %>
            <p className="lead">The archive is empty.</p>
          </div>
        </div>
      </div>
    );
  }
});
