/** @jsx React.DOM */

var EmptyConversationList = React.createClass({
  render: function() {
    return (
      <div className="jumbotron text-center">
        <%= image_tag 'logo.png' %>
        <p className="lead">No conversations found.</p>
      </div>
    );
  }
});
