/** @jsx React.DOM */

var InboxZero = React.createClass({
  render: function() {
    return (
      <div className="jumbotron text-center">
        <%= image_tag 'logo.png' %>
        <h2>Inbox Zero</h2>
        <p className="lead">Awesome, you've been a helpful human.</p>
      </div>
    );
  }
});
