---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=starter-kit
    headers:
      Authorization:
      - Bearer sk_test_WBw18p2zF145AUVplsHKuCN4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1405100490,
          "id": "cus_4Ntp21GH0XBmeJ",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4Ntp21GH0XBmeJ/subscriptions",
            "data": [
              {
                "id": "sub_4NtpM2Sy4Py7QT",
                "plan": {
                  "interval": "month",
                  "name": "Starter Kit",
                  "created": 1405099764,
                  "amount": 0,
                  "currency": "usd",
                  "id": "starter-kit",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Starter Kit"
                },
                "object": "subscription",
                "start": 1405100490,
                "status": "active",
                "customer": "cus_4Ntp21GH0XBmeJ",
                "cancel_at_period_end": false,
                "current_period_start": 1405100490,
                "current_period_end": 1407778890,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4Ntp21GH0XBmeJ/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Fri, 11 Jul 2014 17:41:30 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4Ntp21GH0XBmeJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WBw18p2zF145AUVplsHKuCN4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4Ntp21GH0XBmeJ/subscription
    body:
      encoding: US-ASCII
      string: plan=starter-kit
    headers:
      Authorization:
      - Bearer sk_test_WBw18p2zF145AUVplsHKuCN4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
  [...]
