<div class="panel panel-default empty-state <%= 'hide' if hide %>">
  <div class="panel-body">
    <h3>Inbox Zero</h3>
    <p>
      No open conversations, nice work!
    </p>
  </div>
  <div class="panel-footer">
    <div class="empty-state-smiley"></div>
    <blockquote class="empty-state-quote">
      <p>Be the customer support you wish to see in the world</p>
      <footer>
        <cite>Mahatma Ghandi</cite>
      </footer>
    </blockquote>
  </div>
</div>
