<div class="panel panel-default empty-state">
  <div class="panel-body">
    <h3><%= t('.inbox_zero') %></h3>
    <p>
      <%= t('.no_open_conversations') %>
    </p>
  </div>
  <div class="panel-footer">
    <div class="empty-state-smiley"></div>
    <blockquote class="empty-state-quote">
      <p><%= t('.customer_support_quote') %></p>
      <footer>
        <cite>Mahatma Ghandi</cite>
      </footer>
    </blockquote>
  </div>
</div>
