<form class="form-search">
  <label for="search-query">
    <input type="search" id="search-query" placeholder="Search Conversations" />
  </label>
</form>

<div class="list">
  <% conversations.each do |conversation| %>
    <div class="list-item">
      <%= render 'conversations/row', conversation: conversation %>
    </div>
  <% end %>
</div>
