<div class="list list-conversations">
  <% conversations.each do |conversation| %>
    <div class="list-item">
      <%= render 'conversations/row', conversation: conversation %>
    </div>
  <% end %>
</div>
