<%= form_tag conversations_path, method: 'get', class: 'form-search' do %>
  <label for="search-query">
    <%= search_field_tag :q, @query, placeholder: 'Search conversations',
      id: 'search-query' %>
  </label>
<% end %>

<div class="list">
  <% conversations.each do |conversation| %>
    <div class="list-item">
      <%= render 'conversations/row', conversation: conversation %>
    </div>
  <% end %>
</div>
