
<div class="markdown dropdown">
	<div data-toggle="dropdown" href="#">
	  <%= image_tag "markdown.png" %>
	  <span>We use Markdown!</span>
	</div>
	<div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		<h3>Markdown is a tool to format your text.</h3>
		<div class="docs">
			<table class="table">
				<tbody>
					<tr>
						<td class="bold">Bold</td>
						<td>**Bolded text here**</td>
					</tr>
					<tr>
						<td class="italic">Italic</td>
						<td>*Italic text here*</td>
					</tr>
					<tr>
						<td><a href="#">Link</a></td>
						<td>[Linked text here](http://link_url.com/?test)</td>
					</tr>
					<tr>
						<td>Image</td>
						<td>![Image description](http://image_link.com/here.png)</td>
					</tr>
				</tbody>
			</table>
		</div>
		<a class="btn btn-sm" href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Advanced Guide</a>
	</div>
</div>