<div class="navbar">

  <div class="navbar-left">
    <%= form_tag(conversations_path(current_account), :method => "get", :class => "input-append") do %>
       <%= text_field_tag :q, @query,:placeholder => t('.search_conversations') %>
	  <button class="btn" type="button" onclick="submit();"><i class="icon-search"></i><%= t('.search') %></button>
    <% end %>
  </div>

  <%= render 'shared/user_links' %>

</div>
