<div class="navbar">

  <div class="navbar-left">
    <!-- Search box placeholder -->
    <input type="search" placeholder="Search conversations" />
  </div>

  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li>
          <%= link_to('Edit registration', edit_user_registration_path) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Register', new_account_path)  %>
        </li>
      <% end %>

      <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
