<% activate_nav!(:archive) %>

<%= render 'shared/navbar' %>
<%= render 'layouts/flash' %>

<div class="container">
  <%= react_component('ConversationList', 'accountSlug' => @account.slug, 'archived' => true) %>
</div>
