<% activate_nav!(:archive) %>

<%= render 'shared/navbar' %>
<%= render 'layouts/flash' %>

<div class="container">
  <div className="row">
    <div className="col-md-8 col-md-offset-2">
      <%= react_component('ConversationList', 'accountSlug' => @account.slug, 'archived' => true) %>
    </div>
  </div>
</div>
