<%= render 'shared/navbar' %>

<div class="container">
  <%= render "layouts/flash" %>
  <div class="page-header">
    <h1>Inbox</h1>
  </div>
  <% if @conversations.any? %>
    <%= render 'conversations/inbox', conversations: @conversations %>
  <% else %>
    <%= render 'conversations/empty' %>
  <% end %>
</div>