<%= render 'shared/navbar' %>

<%= render 'layouts/flash' %>

<div class="container conversation-list">
</div>

<script type="text/jsx">
/** @jsx React.DOM */

var Avatar = React.createClass({
  render: function() {
    avatarInitialsStyle = { width: 30, height: 30, lineHeight: 30, display: 'none' };

    return (
      <div className="avatar">
        <div className="avatar-initials" style={avatarInitialsStyle}>
          {this.props.initials}
        </div>

        <div>
          <img src={this.props.gravatarUrl} width="30px" height="30px" onerror="toggleAvatar(this)" />
        </div>
      </div>
    );
  }
});

var MessageCount = React.createClass({
  render: function() {
    return (
      <span className="badge badge-message-count">
        <span className="glyphicon glyphicon-envelope"></span>
        {this.props.count} 
      </span>
    );
  }
});

var Timestamp = React.createClass({
  render: function() {
    // TODO: Remove stale badge if not stale
    var timestampClassNames = ['timestamp', 'badge', 'badge-timestamp-stale'].join(' ');
    var lastActivityAtInWords = this.timeAgoInWords(this.props.lastActivityAt);

    return (
      <span className={timestampClassNames}>
        {lastActivityAtInWords}
      </span>
    );
  },

  // TODO: Use moment.js to generate real time
  timeAgoInWords: function(datetime) {
    return '5 minutes ago';
  }
});

var ParticipantList = React.createClass({
  render: function() {
    var renderParticipant = function(participant) {
      return (
        <li>
          {participant.nickname}
        </li>
      );
    };

    return (
      <ul className="participants">
        {this.props.participants.map(renderParticipant)}
      </ul>
    );
  }
});

var TagList = React.createClass({
  render: function() {
    var renderTagLabel = function(tag) {
      return (
        <span className="tag-label">
          #{tag}
        </span>
      )
    }

    return (
      <div className="tag-label-list">
        {this.props.tags.map(renderTagLabel)}
      </div>
    );
  }
});

var ConversationList = React.createClass({
  getInitialState: function() {
    return {
      conversations: []
    };
  },

  componentDidMount: function() {
    $.get(this.props.source, function(response) {
      this.setState({
        conversations: response['conversations']
      });
    }.bind(this));
  },

  render: function() {
    var renderConversation = function(conversation) {
      // TODO: Use real values from the ajax response
      var gravatarUrl = "https://secure.gravatar.com/avatar/5609938fde25344389e62754e44976ee.png?s=30&d=404";
      var participants = [{ nickname: 'Patrick Van Stee' }, { nickname: 'Matthew Smith' }];

      return (
        <div className="list-item">
          <a className="conversation conversation-row" key={conversation.id}>
            <div className="summary">
              <Avatar initials="PV" gravatarUrl={gravatarUrl} />

              <div className="detail">
                <MessageCount count="3" />
                <Timestamp />

                <ParticipantList participants={participants} />

                <div className="number">
                  #{conversation.number}
                </div>
              </div>

              <div className="title">
                {conversation.subject}
              </div>

              <TagList tags={conversation.tags} />
            </div>
          </a>
        </div>
      );
    };

    return (
      <div className="list list-conversations">
        {this.state.conversations.map(renderConversation)}
      </div>
    );
  }
});

React.renderComponent(<ConversationList source="<%= inbox_account_conversations_path(@account, format: 'json') %>" />, $('.conversation-list')[0]);
</script>
