<%= render 'shared/navbar' %>

<%= render "layouts/flash" %>

<div class="container">
  <h3 class="page-title">Search results for "<%= params[:q] %>"</h3>
  <%= react_component('ConversationList', 'accountSlug' => @account.slug, 'query' => params[:q]) %>
</div>
