<%= render 'shared/navbar' %>
<%= render 'shared/inbox_navbar' %>

<div class="container">
  <%= react_component('ConversationList', source: account_conversations_path(@account.id, archived: @conversation.archived, format: :json), selected: @conversation.number) %>
</div>
