<div class="demo">
  <div class="demo-text">
    <h4 class="demo-text-1">Even simpler than email</h4>
    <h4 class="demo-text-2">You shouldn't have to get support for a support tool.</h4>
    <h4 class="demo-text-2">Helpful aims to be a no-brainer to use right out of the box.</h4>
  </div>
  <a href="<%= new_accounts_path %>" class="demo-button">Sign up for free</a>
</div>
