<div class="hero-wrapper">
  <div class="hero">
    <h4 class="hero-text-header"><%= t('.text_header') %></h4>
    <h4 class="hero-text-1"><%= t('.text_1') %></h4>
    <h4 class="hero-text-2"><%= t('.text_2') %></h4>
  </div>
</div>