<div class="hero-wrapper">
  <div class="hero">
    <h4 class="hero-text-header">Help that doesn't hurt</h4>
    <h4 class="hero-text-1">Helpful is a simple support tool you won't need help using.</h4>
    <h4 class="hero-text-2">Just ask.</h4>
  </div>
</div>