<table class="pricing-table">
  <tr>
    <td></td>
    <td>Great Value!</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      Starter Kit
      <div></div>
    </td>
    <td>
      Growing
      <div></div>
    </td>
    <td>
      Premium
      <div></div>
    </td>
    <td>
      Super
      <div></div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>25</h1>
      <h2>threads per month</h2>
      <h3>$0</h3>
      <h4>per month</h4>
      <a href="<%= new_account_path %>">Sign up for free</a>
    </td>
    <td>
      <h1>50</h1>
      <h2>threads per month</h2>
      <h3>$29</h3>
      <h4>per month</h4>
      <a href="<%= new_account_path %>">Sign up</a>
    </td>
    <td>
      <h1>150</h1>
      <h2>threads per month</h2>
      <h3>$59</h3>
      <h4>per month</h4>
      <a href="<%= new_account_path %>">Sign up</a>
    </td>
    <td>
      <h1>300</h1>
      <h2>threads per month</h2>
      <h3>$199</h3>
      <h4>per month</h4>
      <a href="<%= new_account_path %>">Sign up</a>
    </td>
  </tr>
</table>