<div class="content right">
  <div class="title">
    <span class="hey">hey,</span>
    <div class="helpful">Helpful</div>
    <span class="under_construction">is under construction</span>
  </div>

  <%= form_for(BetaInvite.new) do |f| %>
    <p>Stay up to date with helpful:</p>
    <div class="field">
      <%= f.text_field :email, :class => "text_field", :placeholder => "Email" %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", :class => "button" %>
    </div>
    <p>
      We take your privacy seriously.

      <a href="https://helpful.helpful.io/contact" data-helpful="helpful" data-helpful-email="christopher.lloyd@gmail.com">I need help!</a>
    </p>
  <% end %>

</div>
