.l-home {

  .container {
    margin: 40px auto;
    width: 500px;
  }

  // TODO This is a hack & it shouldn't be in layouts.
  .billing-plan-table {
    width: 100%;

    .billing-plan-table-header {
      text-align: center;
      color: black;
      line-height: 60px;
      border-top-weight: 2px;
      border-top-style: solid;
      font-size: 24px;
    }

    .billing-plan-table-description {
      font-size: 16px;
    }

    .billing-plan-table-price {
      line-height: 60px;
    }

    .bronze {
      border-top-color: $blue;
    }

    .silver {
      border-top-color: $red;
    }
    .gold {
      border-top-color: $yellow;
    }
  }

}
