.logo {
  @include background-size(100%);
  background-image: url(image-path('logo.png'));
  background-repeat: no-repeat;
  background-position: center;
}

.logo-default {
  width: 60px;
  height: 60px;
}

.logo-wordmark {
  @include background-size(auto 100%);
  background-image: url(image-path('logo.png'));
  background-repeat: no-repeat;
  background-position: left center;

  padding-left: (24px * 1.5) + 30px;

  color: $black;
  font-family: $font-headline;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
