.logo {
  background-image: url(image-path('logo.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
}

.logo-default {
  width: 60px;
  height: 60px;
}
