.logo {
  background-image: url(image-path('logo.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
}

.logo-default {
  width: 60px;
  height: 60px;
}

.logo-s {
  width: 48px;
  height: 48px;
}

.logo-xs {
  width: 32px;
  height: 32px;
}

.logo-wordmark {
  background-image: url(image-path('logo.png'));
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;

  padding-left: (24px * 1.5) + 30px;

  color: $black;
  font-family: $font-headline;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

/*--------------*/

.column-content  .pricing-table { 
  max-width: 710px !important;
  margin-left: -10px;
}
// removing green column bg
.column-content .pricing-table tr:nth-child(n + 2) td:nth-child(2) {
  background: none !important;
}
// font sizes
.column-content .pricing-table tr:nth-child(2) td {
  font-size: 21px;
}
.column-content .pricing-table tr:nth-child(3) h2 {
  font-size: 26px;
}
// line
.column-content .pricing-table tr:nth-child(2) td div {
  background-color: #ccc !important;
}
// button
.column-content .pricing-table tr:nth-child(3) a {
  width: 140px;
  height: 50px;
  background: #666 !important;
  font-size: 18px;
  line-height: 48px;
}