body {
    background-color: $white;
    color: $grey;
}

a {
  color: $primary;
  border-bottom-color: rgba($primary, .5);

  &:hover {
    color: darken($primary, 15%);
    border-bottom-color: darken($primary, 15%);
  }
}

h1, h2, h3, h4 {
    color: $black;
}

h5 {
    color: $primary;
}


// Text Colors

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-muted {
  color: $muted;
}

.text-primary {
  color: $primary;
}

.text-success {
  color: $success;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}


// Background Colors

.bg-black {
    background-color: $black;
}

.bg-muted {
    background-color: $muted;
}

.bg-primary {
    background-color: $primary;
}

.bg-success {
    background-color: $success;
}

.bg-warning {
    background-color: $warning;
}

.bg-danger {
    background-color: $danger;
}

.bg-highlight {
    background-color: $highlight;
}
