body {
    background-color: $white;
    color: $grey;
}

a {
    color: $secondary;
    border-bottom: 1px solid rgba($secondary, .5);
    
    &:hover {
        color: darken($secondary, 15%);
        border-bottom-color: darken($secondary, 15%);
    }
}

.black {
    color: $black;
}

.muted {
    color: $muted;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.black-bg {
    background-color: $black;
    color: $white;
}

.muted-bg {
    background-color: $muted;
}

.primary-bg {
    background-color: $primary;
    color: $white;
}

.secondary-bg {
    background-color: $secondary;
    color: $white;
}

h1, h2, h3, h4 {
    color: $black; 
}

h5 {
    color: $primary;
}