body {
    background-color: $lightest-gray;
    color: $light-black;
}

a {
  color: $primary;
  border-bottom-color: rgba($primary, .5);

  &:hover {
    color: darken($primary, 15%);
    border-bottom-color: darken($primary, 15%);
  }
}

h1, h2, h3, h4 {
    color: $black;
}

h5 {
    color: $primary;
}

p {
  color: $darkest-blue;
}
