// html, body {
//   min-width: 992px;
// }

.container {
  // Arbitary for the moment
  margin-left: auto;
  margin-right: auto;
}

.small-container {
  margin: 2em auto;
  max-width: 500px;
  width: 48%;
}
