/**********************************************************************************
  ICONS AND SYMBOLS
  This file defines how we call icons, defines common sizes for icons, and
  defines which characters they are mapped to in the font.
  Update the symbol font in fonts.css.scss.
**********************************************************************************/

// Use icon- as a prefix for icon elements
[class^="icon-"], [class*=" icon-"] {
  font-family: 'helpful-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Define commonly used icons sizes
// @TODO: Hint the icon font at these sizes

.icon-small {
  font-size: 16px;
}

.icon-medium {
  font-size: 24px;
}

.icon-large {
  font-size: 32px;
}

.icon-xlarge {
  font-size: 44px;
}

// Character definitions
.icon-archive:before {
  content: "\e600";
}
.icon-inbox:before {
  content: "\e601";
}
.icon-settings:before {
  content: "\e602";
}
.icon-tags:before {
  content: "\e603";
}
