body {
  font-family: $font-body;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1rem;
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }
}

h1,
h2,
h3 {
  font-family: $font-headline;
}

h4,
h5,
h6 {
  font-family: $font-body;
}

h1 {
  font-size: 4.1em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
  font-weight: normal;
}

h5 {
  font-size: 1.05em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h6 {
  font-size: 1.05em;
}

p {
  margin-bottom: .8rem;
  max-width: 34em;
  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
  color: $primary;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h1 + p {
  font-size: 1.55em;
  font-weight: 200;
}

ul {
  margin: 0 0 1rem;
}
