body {
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: $font-body;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  color: $gray;
  font-size: 0.6em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h6 {
  font-size: 1.05em;
}

p {
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: 0.8em;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  margin: 0 0 1rem;
}

hr {
  margin: 1.5em 0 2em;
}

.text-smaller {
  font-size: .85em;
}

.text-uppercase {
  text-transform: uppercase;
}
