<% if target.errors.any? %>
  <div class="panel panel-error error-message">
    <i class="ss-alert"></i>
    <div class="panel-title">
      Oops! Something went wrong.
    </div>

    <div class="panel-body">
      <ul>
        <% target.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
