<% if target.errors.any? %>
  <div class="panel panel-errors">
    <div class="panel-title">
      Oops! Something went wrong.
    </div>

    <div class="panel-body">
      <% target.errors.full_messages.each do |message| %>
        <p>
          <%= message %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
