</div> <!-- Close .app-container -->

<footer class="app-footer">
    <div class="app-footer_container">
        <div class="app-footer_list-container">
            <h3>Conversations</h3>
            <ul class="list--no-bullets">
              <!-- Can't get this to work in other pages than /:account/conversations -->
              <li><%# link_to('Current conversations', conversations_path) %></li>
              <li><a href="#">Current conversations</a></li>
            </ul>
        </div>
        <div class="app-footer_list-container">
            <h3>Your Account</h3>
            <ul class="list--no-bullets">
                <% if user_signed_in? %>
                  <li><%= link_to('Edit profile', edit_user_registration_path) %></li>
                  <li><%= link_to('Log out', destroy_user_session_path, method: :delete) %></li>
                <% else %>
                  <li><%= link_to('Log in', new_user_session_path)  %></li>
                  <li><%= link_to('Sign up', new_account_path)  %></li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="tagline">
        <a href="http://helpful.io">Helpful</a> by <a href="http://assemblymade.com">Assembly</a>
    </div>
</footer>