<div class="container">
  <div class="navbar navbar-tabs">
    <ul class="nav nav-tabs nav-tabs-lg pull-left">
      <li>
        <%= link_to 'Team Inbox', inbox_account_conversations_path(@account), class: "#{'active' if current_page?(inbox_account_conversations_path(@account)) }" %>
      </li>
      <li>
        <%= link_to 'Archive', archived_account_conversations_path(@account), class: "#{'active' if current_page?(archived_account_conversations_path(@account)) }" %>
      </li>
    </ul>

    <ul class="nav nav-tabs pull-right">
      <li><a href="#">Recent</a></li>
      <li><a href="#">Assigned to Me</a></li>
      <li><a href="#">Needs Response</a></li>
      <li><a href="#">Urgent</a></li>
    </ul>
  </div>
</div>
