<script src="http://localhost:5000/embed.js"></script>

<div class="navbar">
  <%= avatar(current_user, 64) %>
  <%= link_to 'Inbox', conversations_path(@account) %>
  <a href="<%= edit_account_path %>">Settings</a>

  <a href="#" data-helpful="helpful">Help!</a>
  <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
</div>
