<div class="navbar">
  <%= avatar(current_user, 64) %>
  <%= link_to 'Inbox', conversations_path(@account) %>
  <% if current_user.primary_owned_account -%>
    <a href="<%= edit_account_path %>">Settings</a>
  <% end -%>

  <a href="mailto:helpful@helpful.io">Help!</a>
  <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
</div>
