<div class="navbar navbar-inverse navbar-static-top">

  <div class="container">

    <ul class="nav navbar-nav nav-steps text-justify">

      <li class="<%= 'disabled' if @account.persisted? && (current_page?(account_invitations_path(@account)) || current_page?(demo_account_path(@account))) %>">
        <a href="#" class="<%= 'active' if current_page?(new_accounts_path) %> <%= 'completed' if @account.persisted? && (current_page?(account_invitations_path(@account)) || current_page?(demo_account_path(@account))) %>">
          <span class="glyphicon glyphicon-ok"></span>
          <!-- TODO: locale is missing -->
          Sign Up
        </a>
      </li>

      <li>
        <a href="#" class="<%= 'active' if @account.persisted? && current_page?(demo_account_path(@account)) %>">
          <span class="glyphicon glyphicon-ok"></span>
          <!-- TODO: locale is missing -->
          Start Using Helpful
        </a>
      </li>

      <li class="strech">
      </li>

    </ul>

  </div>

</div>
