<div class="dialog">
  <img src="/assets/logo@2x.png">
  <h1>
    Oh dear, it's a 404!
  </h1>
  <p>
    We can't find the page you were looking for.
  </p>
  <a href="http://helpful.io/">
    <button class="btn btn-large btn-primary">
      Go Home
    </button>
  </a>
</div>
