<div class="navbar">
  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li><%= link_to('Register', new_account_path) %></li>
      <li><%= link_to('Login', new_user_session_path) %></li>
    </ul>
  </div>
</div>

<h1>Supportly</h1>
<p>Made by everyone at <a href="https://assemblymade.com">Assembly</a>.</p>

<%= render '/beta_invites/new' %>
