<div class="landing-page_container">
  <div class="logo"></div>
  <h1><span class="muted">Just be</span> Helpful</h1>
  <p>
    This is not a novel idea, but lived out, it can turn your frustrated Frowny-Town customer into a Happy Mc-word-of-mouth (your product here) lover.
  </p>
</div>

<div class="landing-page_container">
  <%= render '/layouts/flash' %>

  <%= form_for(BetaInvite.new) do |f| %>
    <div class="input-container">
      <label for="beta_invite_email">Request Access to Helpful</label>
      <%= f.text_field :email, :placeholder => "Your Email Address" %>
    </div>
    <div class="btn-container">
      <%= f.submit "Get Helpful", :class => "btn" %>
    </div>
  <% end %>
</div>

<div class="landing-page--alternate">
  <div class="landing-page_container">
    <h3>The cost of support should only grow as you need it more. So that’s how we charge.</h3>
    <p>
      We believe that the best way to support your product is by connecting the right person with the customer.
    </p>
    <p>
      Everyone on your team helps out with support, so the customer gets the help he deserves.
    </p>
    <p>
      Helpful doesn’t charge per user, so everyone can jump right in. As your product and support needs grow, Helpful grows with you.
    </p>
  </div>
</div>

<footer>
  <span class="tagline">
    <a href="http://helpful.io">Helpful</a> by <a href="http://assemblymade.com">Assembly</a>
  </span>
</footer>