<% content_for :meta do -%>
  <title>Helpful is a simple support tool you won't need help using.</title>
  <meta property="og:site_name" content="Helpful" />
  <meta property="og:title" content="Helpful — Help that doesn't hurt">
  <meta property="og:url" content="http://helpful.io/">
  <meta property="og:image" content="<%= image_url('logo-64.png') %>"/>
  <meta property="og:description" content="Helpful is a simple support tool you won't need help using.">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Helpful">
  <meta name="twitter:description" content="Helpful is a simple support tool you won't need help using.">
  <meta name="twitter:image:src" content="<%= image_url('logo.png') %>">
  <meta name="twitter:domain" content="helpful.io">
<% end -%>

<div class="container">
  <div class="section section-full-page">
    <div class="page-middle">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= image_tag('logo.png') %>
          <h1 class="lead-header">We redesigned the support tool to get out of the way, so you focus on being a helpful human.</h1>
          <p class="lead-text">Helping your customers with good answers and thoughtful direction should be a breaze, focused 100% on support - and nothing else.</p>
          <p class="lead-text">C'mon, let's see it in action.</p>
        </div>
      </div>
    </div>
    <div class="page-middle">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= image_tag('logo.png') %>
          <h1 class="lead-header">We redesigned the support tool to get out of the way, so you focus on being a helpful human.</h1>
          <p class="lead-text">Helping your customers with good answers and thoughtful direction should be a breaze, focused 100% on support - and nothing else.</p>
          <p class="lead-text">C'mon, let's see it in action.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).on('ready page:load', function() {
  var windowHeight = $(window).outerHeight();
  $('.section-full-page').css('height', (windowHeight - 50) + 'px');
});
</script>
