<div class="beta_invites">
  <div class="content_wrapper group">
    <%= render '/beta_invites/new' %>
  </div>

  <div class="footer_waves"></div>
    <div class="footer">
      <div class="footer_wrapper">
        <div class="life_saver"></div>
      </div>
    </div>
  </div>
  <div id="embed_target" style="margin-left: 300px;"></div>

</div>

<%= render 'layouts/embed' %>
