<div class="l-home">
  <div class="fold fold-center">
    <div class="container">
      <center>
        <div class="logo logo-default"></div>
      </center>

      <h1 class="text-black">Helpful</h1>
      <p class="text-muted">Help that doesn't hurt</p>

      <a href="<%= new_account_path %>" class="btn btn-success">Sign Up</a>
      <a href="<%= new_user_session_path %>" class="btn btn-default">Sign In</a>
    </div>
  </div>

  <div class="fold fold-center">
    <div class="container">
      <h4>Unique billing</h4>
      <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque accumsan nulla. Morbi posuere diam turpis, non cursus neque elementum id. Donec ut nisi id mauris viverra faucibus. Mauris laoreet libero in elit pulvinar ullamcorper. Nam a posuere elit, vel convallis lorem. Sed vel urna at purus tristique porttitor.
      </p>

      <h4>Open source</h4>
      <p>
        Donec pharetra erat et eros eleifend dictum. Aliquam non porta risus. Suspendisse nec commodo dui. Donec ut mollis erat, in tincidunt lorem. Nam vitae augue ante. Quisque elit velit, feugiat id tincidunt quis, lobortis nec turpis. Suspendisse mollis facilisis elit vel convallis. Cras sed metus felis.
      </p>

      <h4>Small teams</h4>
      <p>
        Ut viverra nulla metus, vel tincidunt nisl posuere ut. Sed pretium est et imperdiet dapibus. Nulla vitae feugiat lectus. Aliquam est lectus, venenatis sit amet tincidunt ut, varius in orci. Duis vestibulum nisl ac sagittis rutrum. Sed blandit libero pulvinar tortor congue pretium. Ut commodo volutpat sem, ac luctus neque vestibulum non. Duis fermentum fringilla purus nec semper.
      </p>

      <h4>Enterprise</h4>
      <p>
        Maecenas vitae sapien ante. Pellentesque ut nunc euismod, porttitor justo ac, semper nibh. Vivamus eu fermentum ligula. Phasellus suscipit massa eget convallis cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Duis quis mi ut lorem gravida laoreet. Sed vel felis nec lectus tempor ultrices. Proin ac dui varius, interdum dolor nec, rutrum est.
      </p>

    </div>
  </div>


  <div class="fold fold-center">
    <div class="container">
      <a href="<%= root_path %>">Helpful</a>.
      By <a href="https://assemblymade.com/helpful">Assembly</a>.
    </div>
  </div>

</div>
