<div class="navbar navbar-default navbar-static-top">

  <div class="container">

    <div class="navbar-header">
      <span class="navbar-brand">Styleguide</span>
    </div>

  </div>

</div>

<div class="alert alert-info alert-dismissible">
  <div class="container">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-target=".alert-dismissible">&times;</button>
    <i class="ss-info icon"></i>
    This alert is happening. You will feel informed about it. It's so <a href="#">alertful</a>!
  </div>
</div>

<div class="alert alert-success alert-dismissible">
  <div class="container">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-target=".alert-dismissible">&times;</button>
    <i class="ss-check icon"></i>
    This alert is happening. You will feel informed about it. It's so <a href="#">alertful</a>!
  </div>
</div>

<div class="alert alert-danger alert-dismissible">
  <div class="container">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-target=".alert-dismissible">&times;</button>
    <i class="ss-alert icon"></i>
    This alert is happening. You will feel informed about it. It's so <a href="#">alertful</a>!
  </div>
</div>

<div class="container">

  <h1 class="page-title">Page Title</h1>

  <form role="form">

    <h2>Form Heading</h1>

    <p>Form subtext, I did submit an idea in mid-January 2014. I just logged into my assemblymade account and received a "you haven't submitted any app ideas yet."</p>

    <fieldset>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">
            <label class="control-label">Label</label>
            <input type="text" class="form-control">
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6">

          <div class="form-group">
            <label class="control-label">First Name (focused)</label>
            <input type="text" class="form-control focus">
          </div>

        </div>

        <div class="col-md-6">

          <div class="form-group">
            <label class="control-label">Last Name</label>
            <input type="text" class="form-control">
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-8">

          <div class="form-group">
            <label class="control-label">City</label>
            <input type="text" class="form-control" value="Greenville">
          </div>

        </div>

        <div class="col-md-2">

          <div class="form-group">
            <label class="control-label">State</label>
            <select class="form-control">
              <option disabled selected>Choose</option>
              <option>GA</option>
              <option>SC</option>
            </select>
          </div>

        </div>

        <div class="col-md-2">

          <div class="form-group">
            <label class="control-label">Zip</label>
            <input type="text" class="form-control">
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group has-success has-feedback">
            <label class="control-label">Field with successful validation</label>
            <input type="text" class="form-control" value="Greenville Good!">
            <i class="ss-check form-control-feedback"></i>
          </div>

          <div class="form-group has-loading has-feedback">
            <label class="control-label sr-only">Field in loading state</label>
            <input type="text" class="form-control" value="Loading">
            <i class="ss-sync form-control-feedback"></i>
          </div>

          <div class="form-group has-error has-feedback">
            <label class="control-label sr-only">Field with failing validation</label>
            <input type="text" class="form-control focus" value="No can do, Kemosabe.">
            <i class="ss-alert form-control-feedback"></i>
            <span class="help-block help-error">Your password must be at least 8 characters long.</span>
          </div>

        </div>

      </div>

    </fieldset>

    <fieldset>

      <h2>Section Change</h1>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">
            <input type="text" class="form-control inline-label" placeholder="Inline Label">
          </div>

          <div class="form-group">
            <input type="text" class="form-control inline-label focus" placeholder="Inline Label">
          </div>

          <div class="form-group">
            <input type="text" class="form-control inline-label focus" placeholder="Inline Label" value="Typing">
          </div>
          <span class="help-block">This is help text, please follow these rules.</span>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

        <div class="form-group">
          <label class="control-label">Radio Label</label>
          <div class="radio"> 
            <label>
              <input type="radio">
              Greenville Unselected
            </label>
          </div>

          <div class="radio"> 
            <label>
              <input type="radio" checked>
              Greenville Selected
            </label>
          </div>

          <div class="radio"> 
            <label>
              <input type="radio" class="hover">
              Greenville Hover
            </label>
          </div>
        </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

        <div class="form-group">
          <label class="control-label">Checkbox Label</label>
          <div class="checkbox"> 
            <label>
              <input type="checkbox">
              Greenville Unselected
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" checked>
              Greenville Selected
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" class="hover">
              Greenville Hover
            </label>
          </div>
        </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

        <div class="form-group">

          <button class="btn btn-default">
            Default
          </button>

          <button class="btn btn-primary">
            Primary
          </button>

          <button class="btn btn-danger">
            Danger
          </button>

        </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">

            <button class="btn btn-default btn-lg">
              Default
            </button>

            <button class="btn btn-primary btn-lg">
              Primary
            </button>

            <button class="btn btn-danger btn-lg">
              Danger
            </button>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">

            <button class="btn btn-default active">
              Hover
            </button>

            <button class="btn btn-primary active">
              Hover
            </button>

            <button class="btn btn-danger active">
              Hover
            </button>

          </div>

        </div>

      </div>

    </fieldset>

  </form>

  <div class="row">

    <div class="col-md-6">

      <div class="panel panel-default">

        <div class="panel-title">
          Panel heading
        </div>

        <div class="panel-body">

          Subtext, I did submit an idea in mid-January in 2014. I just logged into my assemblymade account and received a "you haven't submitted any app ideas yet" and I'm looking for it.

          <br>

          <button class="btn btn-default">
            This Thing
          </button>

        </div>

      </div>

    </div>

    <div class="col-md-6">

      <div class="panel panel-error">

        <div class="panel-title">
          Panel heading
        </div>

        <div class="panel-body">

          Subtext, I did submit an idea in mid-January in 2014. I just logged into my assemblymade account and received a "you haven't submitted any app ideas yet" and I'm looking for it.

          <br>

          <button class="btn btn-default">
            This Thing
          </button>

        </div>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-md-12">

      <div class="navbar navbar-default">

        <div class="container">

          <ul class="nav navbar-nav nav-steps">

            <li>
              <a href="#" class="completed">
                <i class="ss-check"></i>
                Sign Up
              </a>
            </li>

            <li>
              <a href="#" class="active"> 
                <i class="ss-check"></i>
                Invite Your Team
              </a>
            </li>

            <li>
              <a href="#">
                <i class="ss-check"></i>
                Start Using Helpful
              </a>
            </li>

            <li class="strech">
            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>

</div>
