<div class="navbar navbar-default navbar-static-top">

  <div class="container">

    <div class="navbar-header">
      <span class="navbar-brand">Styleguide</span>
    </div>

  </div>

</div>

<div class="alert alert-info alert-dismissable">
  <div class="container">
    This alert is happening. You will feel informed about it. It's so <a href="#">alertful</a>!
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-target=".alert-dismissable">&times;</button>
  </div>
</div>

<div class="alert alert-success alert-dismissable">
  <div class="container">
    This alert is happening. You will feel informed about it. It's so <a href="#">alertful</a>!
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-target=".alert-dismissable">&times;</button>
  </div>
</div>

<div class="alert alert-danger alert-dismissable">
  <div class="container">
    This alert is happening. You will feel informed about it. It's so <a href="#">alertful</a>!
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-target=".alert-dismissable">&times;</button>
  </div>
</div>

<div class="container">

  <h1 class="page-title">Page Title</h1>

  <form role="form">

    <h2>Form Heading</h1>

    <p>Form subtext, I did submit an idea in mid-January 2014. I just logged into my aseemblymade account and received a "you haven't submitted any app ideas yet."</p>

    <fieldset>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">
            <label class="control-label">Label</label>
            <input type="text" class="form-control">
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6">

          <div class="form-group">
            <label class="control-label">First Name (focused)</label>
            <input type="text" class="form-control focus">
          </div>

        </div>

        <div class="col-md-6">

          <div class="form-group">
            <label class="control-label">Last Name</label>
            <input type="text" class="form-control">
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-8">

          <div class="form-group">
            <label class="control-label">City</label>
            <input type="text" class="form-control" value="Greenville">
          </div>

        </div>

        <div class="col-md-2">

          <div class="form-group">
            <label class="control-label">State</label>
            <select class="form-control">
              <option disabled selected>Choose</option>
              <option>GA</option>
              <option>SC</option>
            </select>
          </div>

        </div>

        <div class="col-md-2">

          <div class="form-group">
            <label class="control-label">Zip</label>
            <input type="text" class="form-control">
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group has-success has-feedback">
            <label class="control-label">Field with validation</label>
            <input type="text" class="form-control" value="Greenville Good!">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
          </div>

          <div class="form-group has-loading has-feedback">
            <input type="text" class="form-control" value="Loading">
            <span class="glyphicon glyphicon-refresh form-control-feedback"></span>
          </div>

          <div class="form-group has-error has-feedback">
            <input type="text" class="form-control focus" value="No can do, Kemosabe.">
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <span class="help-block">Sorry, try again. This didn't work.</span>
          </div>

        </div>

      </div>

    </fieldset>

    <fieldset>

      <h2>Section Change</h1>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">
            <input type="text" class="form-control inline-label" placeholder="Inline Label">
          </div>

          <div class="form-group">
            <input type="text" class="form-control inline-label focus" placeholder="Inline Label">
          </div>

          <div class="form-group">
            <input type="text" class="form-control inline-label focus" placeholder="Inline Label" value="Typing">
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

        <div class="form-group">
          <label class="control-label">Radio Label</label>
          <div class="radio"> 
            <label>
              <input type="radio">
              Greenville Unselected
            </label>

            <label>
              <input type="radio" checked>
              Greenville Selected
            </label>

            <label>
              <input type="radio" class="hover">
              Greenville Hover
            </label>
          </div>
        </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

        <div class="form-group">
          <label class="control-label">Checkbox Label</label>
          <div class="checkbox"> 
            <label>
              <input type="checkbox">
              Greenville Unselected
            </label>

            <label>
              <input type="checkbox" checked>
              Greenville Selected
            </label>

            <label>
              <input type="checkbox" class="hover">
              Greenville Hover
            </label>
          </div>
        </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

        <div class="form-group">

          <button class="btn btn-default">
            Cancel
          </button>

          <button class="btn btn-secondary">
            Secondary
          </button>

          <button class="btn btn-primary">
            Primary
          </button>

        </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">

            <button class="btn btn-default btn-lg">
              Cancel
            </button>

            <button class="btn btn-secondary btn-lg">
              Secondary
            </button>

            <button class="btn btn-primary btn-lg">
              Primary
            </button>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">

            <button class="btn btn-default hover">
              Hover
            </button>

            <button class="btn btn-secondary hover">
              Hover
            </button>

            <button class="btn btn-primary hover">
              Hover
            </button>

          </div>

        </div>

      </div>

    </fieldset>

  </form>

  <div class="row">

    <div class="col-md-6">

      <div class="panel panel-default">

        <div class="panel-title">
          Panel heading
        </div>

        <div class="panel-body">

          Subtext, I did submit an idea in mid-January in 2014. I just logged into my assemblymade account and received a "you haven't submitted any app ideas yet" and I'm looking for it.

          <br>

          <button class="btn btn-default">
            This Thing
          </button>

        </div>

      </div>

    </div>

    <div class="col-md-6">

      <div class="panel panel-error">

        <div class="panel-title">
          Panel heading
        </div>

        <div class="panel-body">

          Subtext, I did submit an idea in mid-January in 2014. I just logged into my assemblymade account and received a "you haven't submitted any app ideas yet" and I'm looking for it.

          <br>

          <button class="btn btn-default">
            This Thing
          </button>

        </div>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-md-12">

      <div class="navbar navbar-default">

        <div class="container">

          <ul class="nav navbar-nav nav-steps">

            <li>
              <a href="#" class="active">
                <span class="glyphicon glyphicon-ok"></span>
                Sign Up
              </a>
            </li>

            <li>
              <a href="#">
                <span class="glyphicon glyphicon-ok"></span>
                Invite Your Team
              </a>
            </li>

            <li>
              <a href="#">
                <span class="glyphicon glyphicon-ok"></span>
                Start Using Helpful
              </a>
            </li>

            <li class="strech">
            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>

  <div style="margin-top: 40px"></div>

  <div class="row">

    <div class="col-md-4 col-example">.col-md-4</div>

    <div class="col-md-4 col-example">.col-md-4</div>

    <div class="col-md-4 col-example">.col-md-4</div>

  </div>

  <div class="row">

    <div class="col-md-3 col-example">.col-md-3</div>

    <div class="col-md-6 col-example">.col-md-6</div>

    <div class="col-md-3 col-example">.col-md-3</div>

  </div>

</div>
