<div class="backdrop full-height error-messages">
  <div class="page page-center page-full text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay=".4s">
          <%= image_tag('logo.png', data: {animate_logo: "" }, class: "logo") %>
          <h2 class="h4 error-code">422 - Unprocessable entity</h2>
          <h1 class="h2" data-animate-heading>Oh dear. This is not helpful, is it.</h1>
          <p data-animate-lead>We know you count on Helpful to be up and running so you can support your customers. We've alerted our engineers to the issue and we're working to resolve it.</p>
          <div class="secondary">
            <p>In the mean time, try reloading the page.
            <br />
            You can also view Helpful Status via Twitter at <a href="https://twitter.com/tryhelpful">@TryHelpful</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
