/* Klinic slab */

@font-face {
    font-family: 'klinic_slablight_italic';
    src: url('klinicslablightit-webfont.eot');
    src: url('klinicslablightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslablightit-webfont.woff') format('woff'),
         url('klinicslablightit-webfont.ttf') format('truetype'),
         url('klinicslablightit-webfont.svg#klinic_slablight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabmedium';
    src: url('klinicslabmedium-webfont.eot');
    src: url('klinicslabmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabmedium-webfont.woff') format('woff'),
         url('klinicslabmedium-webfont.ttf') format('truetype'),
         url('klinicslabmedium-webfont.svg#klinic_slabmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabmedium_italic';
    src: url('klinicslabmediumit-webfont.eot');
    src: url('klinicslabmediumit-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabmediumit-webfont.woff') format('woff'),
         url('klinicslabmediumit-webfont.ttf') format('truetype'),
         url('klinicslabmediumit-webfont.svg#klinic_slabmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabbook';
    src: url('klinicslabbook-webfont.eot');
    src: url('klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabbook-webfont.woff') format('woff'),
         url('klinicslabbook-webfont.ttf') format('truetype'),
         url('klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabbook_italic';
    src: url('klinicslabbookit-webfont.eot');
    src: url('klinicslabbookit-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabbookit-webfont.woff') format('woff'),
         url('klinicslabbookit-webfont.ttf') format('truetype'),
         url('klinicslabbookit-webfont.svg#klinic_slabbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slablight';
    src: url('klinicslablight-webfont.eot');
    src: url('klinicslablight-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslablight-webfont.woff') format('woff'),
         url('klinicslablight-webfont.ttf') format('truetype'),
         url('klinicslablight-webfont.svg#klinic_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabbold';
    src: url('klinicslabbold-webfont.eot');
    src: url('klinicslabbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabbold-webfont.woff') format('woff'),
         url('klinicslabbold-webfont.ttf') format('truetype'),
         url('klinicslabbold-webfont.svg#klinic_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'klinic_slabbold_italic';
    src: url('klinicslabboldit-webfont.eot');
    src: url('klinicslabboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabboldit-webfont.woff') format('woff'),
         url('klinicslabboldit-webfont.ttf') format('truetype'),
         url('klinicslabboldit-webfont.svg#klinic_slabbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}