// Global variables

$white: #FFFFFF;
$black: #000000;

body {
  font-family: 'Open Sans', sans-serif;

  input,
  textarea,
  select,
  button {
    &:focus {
      outline: none;
    }
  }

  .group:after {
    content: '';
    clear: both;
    display: table;
  }

  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

#flash_messages {
  background-color: $white;
  @include border-radius(0 0 5px 5px);

  .flash {
    padding: 1em;

    &.alert {
      color: red;
    }
    &.notice {
      color: green;
    }
  }
}

.content_wrapper {
  width: 31.25em;
  margin: 0 auto;
}