// Global variables

$white: #FFFFFF;
$black: #000000;

$color-bg: #CAF7F4;
$color-primary: #216888;
$color-secondary: #E5674A;

body {
  color: $color-primary;
  background-color: $color-bg;
  font-family: 'Open Sans', sans-serif;

  a {
    color: $color-primary;
  }

  input,
  textarea,
  select,
  button {
    &:focus {
      outline: none;
    }
  }

  .group:after {
    content: '';
    clear: both;
    display: table;
  }

  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

#flash_messages {
  background-color: $white;
  @include border-radius(0 0 5px 5px);

  .flash {
    padding: 1em;

    &.alert {
      color: red;
    }
    &.notice {
      color: green;
    }
  }
}

.content_wrapper {
  width: 31.25em;
  margin: 0 auto;

  .header {
    .nav {
      padding: 0;

      li {
        float: left;
        display: block;
        list-style: none;
        margin-right: 1em;

        a {
          text-decoration: none;
        }
      }
    }
  }
  .content {

    form {

      input[type="text"],
      input[type="email"],
      input[type="password"] {
        border: none;
        padding: 0.5em;
        background: $white;
        margin: 0.25em 0 1em;
        @include border-radius(5px);
      }

      input[type="submit"] {
        border: none;
        color: $white;
        display: block;
        font-weight: bold;
        padding: 0.5em 1em;
        margin-bottom: 2em;
        background: $color-secondary;
        border-bottom: 3px solid darken($color-secondary, 10%);
        @include border-radius(5px);
      }

    }

  }

}

.footer_waves {
  margin-top: 5em;
  height: 6.9375em;
  position:relative;
  @include background-image-retina('footer_wave', 'png', 33px, 111px);
  background-repeat: repeat-x;
  z-index: 2;

}
.footer {
  min-height: 20em;
  position: relative;
  background-color: $color-primary;

  .footer_wrapper {
    width: 31.25em;
    margin: 0 auto;
  }

  .life_saver {
    top: -150px;
    width: 136px;
    height: 136px;
    position: absolute;
    @include background-image-retina('life_saver', 'png', 136px, 136px);
    z-index: 1;
  }
}