.alert {
  border: none;
  border-radius: 0;
  color: $white;
  margin-bottom: 0;

  a {
    color: $white;
    font-weight: bold;
    text-decoration: underline;
  }
}

.alert + div:not(.alert) { 
  margin-top: 20px;
}

.alert-info {
  background-color: $info;
  color: $light-black;

  a {
    color: $light-black;
  }
}

.alert-success {
  background-color: $success;
}

.alert-danger,
.alert-error {
  background-color: $danger;
}

.close {
  color: #fff;
  opacity: 1;
  text-shadow: none;

  .alert-dismissable & {
    top: 1px;
    right: -14px;
  }
}
