.alert {
  border: none;
  border-radius: 0;
  color: $white;
  margin-bottom: 0;
  font-weight: bold;
  background-color: $alert-background;

  a {
    color: $white;
    font-weight: bold;
    text-decoration: underline;
  }

  .container {
    padding: 0 27px;
  }
}

.alert + div:not(.alert) {
  margin-top: 20px;
}

.alert-dismissable .close {
  color: #fff;
  opacity: 1;
  text-shadow: none;
  font-weight: bold;
}

.alert-dismissable .close:hover {
  color: $light-gray;
}
