.alert {
    border-radius: 4px;
    background-color: $secondary;
    color: $white;
    padding: 1.06rem .9rem 1.22rem;
    position: relative;
    max-width: 100%;
}

.alert-success {
    background-color: $success;
}

.alert-error {
    background-color: $error;
}

.alert_close {
    border: 0;
    border-left: 2px solid rgba(0, 0, 0, .12);
    color: $white;
    font-family: 'Open Sans';
    font-size: 1.8em;
    font-weight: 800;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 0 .625em;
    line-height: 1.85em;
    
    &:hover {
        color: $white;
    }
}