$avatar-small-size: 18px;

.avatar {
  display: inline;

  img {
    border-radius: 50%;
  }
}

.avatar-small {
  line-height: $avatar-small-size;

  img {
    height: $avatar-small-size;
    width: $avatar-small-size;
  }
}

.navbar .navbar-avatar {
  display: inline-block;
  vertical-align: middle;

  &.navbar-avatar-dropdown {
    margin-top: -2px;

    .avatar-initials { font-size: 10px; }
  }
}

.dropdown.avatar > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
}
