.avatar {
  display: inline;

  img {
    border-radius: 50%;
  }

  .avatar-initials {
    display: inline-block;
    background-color: $dark-gray;
    border-radius: 50%;
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }
}

.avatar-default {
  .avatar-initials {
    font-size: $avatar-default-font-size;
  }
}

.navbar .navbar-avatar {
  display: inline-block;
  vertical-align: middle;
}

.dropdown.avatar > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
}
