.backdrop {
  background-color: $gray-darker;

  h1 {
    color: white;
    font-size: 34px;
    line-height: 1.2;
  }

  h1 + p {
    margin: 35px 0 55px 0;
    font-family: $font-family-serif;
  }

  p + p {
    margin-top: 40px;
  }

  p {
    color: $gray-light;
    font-size: 24px;
  }

  .btn {
    background-color: transparent;
    border: 1px solid $blue-highlight;
    color: $blue-highlight;
  }

  .hero .btn {
    font-size: 18px;
    padding: 12px 38px;
  }

  .btn-default {
    &:not([disabled]) {
      &:hover,
      &.hover {
        background-color: $gary-darkest;
      }
    }
  }
}
