.backdrop {
  background-color: $light-black;

  h1 {
    color: $white;
    font-size: 30px;
    line-height: 1.2;
  }

  h1 + p {
    margin-top: 20px;
  }

  p + p {
    margin-top: 40px;
  }

  p {
    color: $gray-blue;
    font-size: 20px;
  }

  .btn-default {
    &:not([disabled]) {
      &:hover,
      &.hover {
        background-color: $black;
      }
    }
  }
}
