.backdrop {
  background-color: $gray-dark;

  h1 {
    color: white;
    font-size: 30px;
    line-height: 1.2;
  }

  h1 + p {
    margin-top: 20px;
  }

  p + p {
    margin-top: 40px;
  }

  p {
    font-family: $font-family-serif;
    color: $gray-light;
    font-size: 20px;
  }

  .btn-default {
    &:not([disabled]) {
      &:hover,
      &.hover {
        background-color: $gray-darker;
      }
    }
  }
}
