.badge-message-count,
.badge-info {
  background-color: darken($lightest-gray, 8%);
  color: darken($dark-blue, 15%);
  font-weight: normal;
  margin-right: 6px;
  padding-left: 10px;
  padding-right: 10px;

  &.badge-message-count-unread {
    background-color: $bright-blue;
    color: $white;
  }

  > .glyphicon {
    font-size: 11px;
    margin-right: 2px;
  }
}

.badge-timestamp-stale {
  background-color: $red;
  color: $white;
  font-weight: normal;
  padding-top: 4px;
  padding-bottom: 3px;
}
