.btn {
  @include appearance(none);
  @include inline-block;
  border: 0;
  border-radius: $btn-border-radius;
  color: $white;

  font-weight: 400;
  font-family: $font-body;
  font-size: 14px;
  line-height: 30px;

  padding: 3px 20px;

  &:hover {
    color: $white;
  }
}

.btn-default {
  background-color: transparent;
  border: $btn-border-width solid rgba($dark-blue, .4);
  color: $dark-blue;
  padding: 1px 18px;

  &[disabled] {
    background-color: $muted;
    color: $white;
  }

  &:not([disabled]):hover {
    background-color: $white;
    border: $btn-border-width solid rgba($dark-blue, .4);
    color: $dark-blue;
  }
}

.btn-primary,
.btn-primary[disabled] {
  background-color: $light-red;

  &:not([disabled]):hover {
    background-color: $red;
  }
}

.btn-secondary,
.btn-secondary[disabled] {
  background-color: $blue;

  &:not([disabled]):hover {
    background-color: $dark-blue;
  }
}

.btn-success,
.btn-success[disabled] {
  background-color: $success;

  &:not([disabled]):hover {
    background-color: darken($success, 5%);
  }
}

.btn-warning,
.btn-warning[disabled] {
  background-color: $warning;

  &:not([disabled]):hover {
    background-color: darken($warning, 5%);
  }
}

.btn-danger,
.btn-danger[disabled] {
  background-color: $danger;

  &:not([disabled]):hover {
    background-color: darken($danger, 5%);
  }
}

.btn-light {
  background-color: $white;
  outline: 1px solid #dddddd;
  text-shadow: none;
  box-shadow: none;
  color: $black;
  margin: 0;

  &:hover {
    background-color: $white !important;
    color: $black;
  }
}

.btn[disabled] {
  opacity: .5;
  cursor: default;
}
