.btn-group {
  @include clearfix;
  margin-left: -1px;

  > .btn {
    float: left;
    border-radius: 0;
    margin-left: 1px;

    &:first-child {
      border-top-left-radius: $btn-border-radius;
      border-bottom-left-radius: $btn-border-radius;
    }

    &:last-child {
      border-top-right-radius: $btn-border-radius;
      border-bottom-right-radius: $btn-border-radius;
    }
  }
}
