.btn {
    @include appearance(none);
    background-color: $primary;
    border: 0;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: $font-body;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.4;
    padding: 0 1em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    -webkit-font-smoothing: antialiased;

    &:hover {
        color: $white;
    }
    
    &:not(.btn-disabled):hover {
        background-color: darken($primary, 5%);
    }
}

.btn-secondary {
    @extend .btn;
    background-color: $secondary;
    
    &:not(.btn-disabled):hover {
        background-color: darken($secondary, 5%);
    }
}

.btn-muted {
    @extend .btn;
    background-color: $muted;
    
    &:not(.btn-disabled):hover {
        background-color: darken($muted, 5%);
    }
}

.btn-positive {
    @extend .btn;
    background-color: $success;

    &:not(.btn-disabled):hover {
        background-color: darken($success, 5%);
    }
}

.btn-negative {
    @extend .btn;
    background-color: $error;

    &:not(.btn-disabled):hover {
        background-color: darken($error, 5%);
    }
}

.btn-disabled {
    opacity: .5;
    cursor: default;
}

.btn-container {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }
}

.btn-container--append {
    @include clearfix;

    li {
        float: left;

        &:first-child .btn {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child .btn {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    .btn {
        border-radius: 0;
    }
}