.command-bar-action {
  input {
    width: auto;
  }

  .dropdown-menu {
    max-height: 356px;
    overflow-y: scroll;
  }
 
  button.btn-default {
    @media screen and (max-width: 1200px) {
      margin-bottom: 12px
    }
  }
}
