.command-bar {
  background-color: $white;

  .hints {
    line-height: 36px;
    float: left;

    span {
      display: inline-block;
      padding-right: 20px;
      color: $dark-gray;
    }
  }

  input[type="file"] {
    display: none;
  }

  .btn-group {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  .dropdown-menu {
    li:first-child {
      input {
        margin: 10px;
      }
    }
  }
}
