@import 'addons/clearfix';

.conversation {
  display: block;
}

.conversation-header {
  border-bottom: 1px solid #b5cbd0;
  padding-top: 18px;
  padding-bottom: 18px;
}

.conversation-status {
  margin-left: -12px;

  > .unread-status {
    background-color: $blue;
    border-radius: 50%;
    display: block;
    height: 12px;
    margin-top: 5px;
    position: absolute;
    width: 12px;
  }

  > .urgent-status {
    background-color: $red;
    border-radius: 50%;
    display: block;
    height: 12px;
    margin-top: 32px;
    position: absolute;
    width: 12px;
  }

  > .reply-status {
    color: #b5cbd0;
    display: block;
    height: 12px;
    margin-top: 54px;
    position: absolute;
    width: 12px;
  }
}

.conversation-summary {
  > .conversation-summary-subject {
    display: block;
    font-size: 16px;
    margin-top: 5px;
  }

  > .conversation-summary-body {
    color: #7b8193;
    display: block;
    font-size: 14px;
    height: 20px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.conversation-participants {
  color: #7b8193;

  > .conversation-creator-name {
    display: inline;
    font-size: 16px;
    margin-right: 6px;

    &:first-child {
      color: $black;
      font-weight: bold;
    }
  }

  > .conversation-creator-email {
    display: inline;
    font-size: 16px;
    margin-right: 6px;

    &:first-child {
      color: $black;
      font-weight: bold;
    }
  }

  > .conversation-participants-count {
    display: inline;
    font-size: 12px;
    margin-right: 6px;
  }
}

.conversation-actions {
}

.conversation-avatars {
}

.conversation-row-empty {
  border-bottom: 1px solid $light-gray;

  &:hover {
    background-color: darken($lightest-gray, 2%);
  }

  .summary {
    border-bottom: none;
    margin: 0 auto;
    width: 500px;

    > p {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.summary {
  color: $light-black;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 16px;
  margin-top: 16px;

  > .avatar {
    position: absolute;
    margin-left: -(40px + (30px / 2));
  }

  > .detail {
    margin-top: 5px;
    margin-bottom: 5px;

    > .timestamp {
      display: inline-block;
      font-weight: bold;
    }

    > .participants {
      display: inline-block;
      list-style: none;
      margin-bottom: 0;
      margin-left: 5px;
      padding-left: 0;

      > li {
        color: $dark-gray;
        display: inline-block;
        margin-right: 6px;
      }
    }

    > .participants-expandable {
      display: inline-block;

      .participants-expand-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        line-height: 16px;
        text-align: center;
        background-color: $darkest-blue;
        color: $lightest-gray;
        cursor: pointer;
        position: relative;

        &.expanded::after {
          content: 'hide';
          color: $darkest-blue;
          position: absolute;
          left: 20px;
          text-decoration: underline;
        }
      }
    }

    > .number {
      color: $dark-gray;
      float: right;
      display: inline-block;
    }

    > .participants-list {
      display: none;
      list-style-type: none;
      margin: 10px 0;
      padding: 0;

      li {
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }

  > .title {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
  }

  > .message {
    padding-top: 20px;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  > .tag-label-list {
    .tag-label {
      color: $dark-gray;
      display: inline-block;
      font-weight: normal;
      margin-right: 6px;

      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.conversation-next,
.conversation-previous {
  background-color: darken($lightest-gray, 2%);
  color: $dark-blue;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover,
  &:focus {
    background-color: darken($lightest-gray, 4%);
    border-color: darken($light-gray, 4%);
    color: darken($dark-blue, 4%);
    outline: none;
  }
}

.conversation-previous {
  border-bottom: 2px solid $light-gray;
  margin-bottom: 10px;
}

.conversation-next {
  border-top: 2px solid $light-gray;
  margin-top: 160px;
}
