.conversation-reply {
  background-color: $white;
  border-bottom: 2px solid $light-gray;
  border-right: 2px solid $light-gray;
  border-top: 2px solid $light-gray;
  padding: 20px 20px 20px 40px;
  margin-bottom: 370px;

  > .avatar {
    position: absolute;
    margin-left: -(40px + (30px / 2));
  }

  textarea {
    border: none;
    color: $black;
    font-size: 18px;
    margin: 0;
    outline: none;
    resize: none;
    width: 100%;
  }

  .reply-to-message {
    min-height: 100px;
  }

  .command-bar {
    background-color: $white;

    .hints {
      line-height: 36px;
      float: left;

      span {
        display: inline-block;
        padding-right: 20px;
        color: $dark-gray;
      }
    }

    input[type="file"] {
      display: none;
    }
  }

  .textcomplete-wrapper {
    display: block !important;
  }
}
