@import 'addons/clearfix';

.conversation {
}

.conversation-heading {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;

  > .actions {
    float: right;
    margin-left: 30px;
  }

  > .summary {
    color: #333;
    font-size: 26px;
  }

  > .detail {
    color: #b2b2b2;
    font-size: 16px;
    font-weight: light;
    line-height: 36px;
    margin-left: - (30px + 30px);
    position: absolute;
  }

  > .meta {
    @include clearfix;
    margin-top: 20px;

    color: #e6e6e6;
    font-size: 16px;
    line-height: 21px;
    color: #4d4d4d;

    > .participants {
      list-style: none;
      padding-left: 0;
      float: left;

      > li {
        display: inline-block;
        margin-right: 10px;
      }
    }

    > .last-update {
      float: right;
    }
  }

}

.conversation-body {
  margin-bottom: 70px;
}

.conversation-row {
  padding: 20px 20px;

  .updated {
    color: #B2B2B2;
    font-size: 13px;
    line-height: 24px;

    &.recent {
      color: $muted;
    }

    &.normal {
      color: $warning;
      font-weight: bold;
    }

    &.stale {
      color: $danger;
      font-weight: bold;
    }
  }

  > .summary {
    color: #333;
    font-size: 16px;
    line-height: 24px;
  }

  > .meta {
    color: #B2B2B2;
    font-size: 13px;
    line-height: 24px;

    > .meta-divider:before {
      color: #E6E6E6;
      content: "|";
    }
  }

  &[data-selected] {
    background-color: #F8FBFD;
    border-left: 2px solid $primary;
    margin-left: -2px;

    > .summary {
      color: $primary;
    }
  }

  .respond-later,
  .archive {
    visibility: hidden;
  }

  &:hover {
    .respond-later,
    .archive {
      visibility: visible;
    }

  }
}

a.conversation-row {
  display: block;
  border-bottom: none;
}

.conversation-next {
  margin-bottom: 30px;

  .conversation-next-heading {
    margin-left: 30px;
  }
}
