@import 'addons/clearfix';

.conversation {
}

.conversation-heading {
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  border-bottom: 1px solid #e6e6e6;

  > .actions {
    float: right;
    margin-left: 30px;
  }

  > .summary {
    color: #333;
    font-size: 23px;
    line-height: 30px;
  }

  > .number {
    font-weight: light;
    color: #b2b2b2;
    font-size: 16px;
    line-height: 30px;
  }

  > .meta {
    @include clearfix;
    margin-top: 30px;
    padding-top: 12px;
    padding-bottom: 12px;

    border-top: 1px dotted #d9d9d9;

    color: #e6e6e6;
    font-size: 14px;
    line-height: 21px;
    color: #4d4d4d;

    > .participants {
      float: left;
    }

    > .last-update {
      float: right;
    }
  }

}

.conversation-body {
  padding: 45px;
}


.conversation-row {
  padding: 20px 60px;

  > input[type=checkbox] {
    float: left;
    margin-left: -30px;

    height: 16px;
    margin-top: (24px - 16px) / 2;
    margin-bottom: (24px - 16px) / 2;
  }


  > .updated {
    float: right;
    margin-left: 30px;
    margin-right: -30px;

    color: #B2B2B2;
    font-size: 13px;
    line-height: 24px;

    &.recent {
      color: $muted;
    }

    &.normal {
      color: $warning;
      font-weight: bold;
    }

    &.stale {
      color: $danger;
      font-weight: bold;
    }
  }

  > .summary {
    color: #333;
    font-size: 16px;
    line-height: 24px;
  }

  > .meta {
    color: #B2B2B2;
    font-size: 13px;
    line-height: 24px;

    > .meta-divider:before {
      color: #E6E6E6;
      content: "|";
    }
  }

  &[data-selected] {
    background-color: #F8FBFD;
    border-left: $column-border-width solid $primary;
    margin-left: -$column-border-width;

    > .summary {
      color: $primary;
    }
  }
}

a.conversation-row {
  display: block;
  border-bottom: none;
}
