$brand-border: #E6EBEB;
$preview-color: #7B8193;
$gutter: 40px;

.conversation {
  border-radius: $border-radius-base;

  &.is-collapsed {
    .conversation-actions {
      display: none;
    }
  }

  &:hover,
  &.hover,
  &.is-expanded {
    background-color: white;
    box-shadow: inset 0 0 0 1px $brand-border;

    .conversation-actions {
      display: block;
    }
  }
}

.conversation-header {
  color: $black;
  padding: $padding-large-vertical $padding-large-horizontal;
  padding-left: $gutter;

  > .status {
    float: left;
    margin-left: -20px;
  }
}


.conversation-person {
  margin-top: $padding-small-vertical;
  margin-bottom: $padding-small-vertical;

  > .person {
    display: inline-block;
  }

  > .avatar {
    display: inline-block;
    margin-right: $padding-small-horizontal;
  }
}

.conversation-preview {
  color: $preview-color;
  margin-top: $padding-small-vertical;
  margin-bottom: $padding-small-vertical;
  height: $line-height-computed;

  > .reply {
    float: left;
    margin-left: -20px;
  }
}

.conversation-stream {
}

.conversation-response {
  border-top: 1px solid $brand-border;
  padding: $padding-large-vertical $padding-large-horizontal;
  padding-left: $gutter;
}
