$brand-border: #E6EBEB;
$conversation-gutter: 40px;

.conversation {
  padding: $padding-large-vertical $padding-large-vertical;
  padding-left: $conversation-gutter;
  border-radius: $border-radius-base;

  &:hover,
  &.active {
    background-color: white;
    box-shadow: inset 0 0 0 1px $brand-border;

    .conversation-actions {
      display: block;
    }
  }
}

.conversation-gutter {
  float: left;
  margin-left: - $conversation-gutter; 
  width: $conversation-gutter;
  text-align: center;
}

.conversation-actions {
  display: none;
}

.conversation-subject {
  font-size: $font-size-large;
  padding-top: $padding-small-vertical;
  padding-bottom: $padding-small-vertical;
}

.conversation-person {
  padding-top: $padding-small-vertical;
  padding-bottom: $padding-small-vertical;
}

.conversation-preview {
  padding-top: $padding-small-vertical;
  padding-bottom: $padding-small-vertical;
}

.conversation-preview-content {
  display: block;
  height: $line-height-computed;
  text-overflow: ellipsis;
  overflow: hidden;
}

.conversation-stream {
}
