.empty-state {
  display: none
}

.empty-state-smiley {
  background-image: url(image-path('inbox-empty-state.png'));
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  height: 60px;
  margin: 0 auto 1em;
  width: 60px;
}

.empty-state-quote {
  border: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 80%;

  p {
    color: $gray;
    font-size: 1.35em;
  }

  cite {
    color: rgba($gray, .35);
  }
}
