.event {
  color: $light-black;
  font-size: 16px;
  font-weight: light;
  line-height: 30px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
  word-wrap: break-word;

  a {
    color: $black;

    .avatar {
      margin-left: 6px;
      margin-right: 6px;
    }

    &:first-child {
      .avatar {
        position: absolute;
        margin-left: -(40px + (30px / 2));
      }
    }
  }

  > .person {
    line-height: $avatar-default-size;
    font-size: 20px;

    > div {
      position: absolute;
      margin-left: - ($avatar-default-size + 30px);
    }
  }
}
