.event {
  color: $light-black;
  font-size: 16px;
  font-weight: light;
  line-height: 30px;
  padding: 30px 40px;
  word-wrap: break-word;

  > .avatar {
    margin-left: 6px;
    margin-right: 6px;

    &:first-child {
      position: absolute;
      margin-left: -(40px + (30px / 2));
    }
  }

  > .person {
    line-height: $avatar-default-size;
    font-size: 20px;

    > div {
      position: absolute;
      margin-left: - ($avatar-default-size + 30px);
    }
  }
}
