.navbar-placeholder {
	.navbar-brand {
		font-size: 21px;
		font-weight: 600;
		img {
			width: 20px;
			height: 20px;
			margin: -4px 5px 0 0;
		}
		&:hover {
			cursor: pointer;
		}
	}
	.navbar-nav {
		li a {
			-webkit-transition: .6s all;
		}
		li > a:hover {
			color: #e6e6e6;
			background-color: rgba(0,0,0,.1);
			-webkit-transition: .3s all;
		}
	}
}
.backdrop h1 {
	line-height: 1.2;
}

.plan-list {
	.btn {
		font-weight: 600;
	}
}