
.btn {
  &:focus,
  &.focus,
  &:active,
  &.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

/* sticky footer */
html, body {
    height: 100%;
}

.container {
  min-height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin-bottom: -80px;
	padding-bottom: 80px;
}

/* panel */
.panel {
	&.empty-state {
		border: 1px solid #dbe8eb;
		border-radius: 0;
		border-top: 0;
		.empty-state-quote {
			p {
				color: #666;
			}
			cite {
				color: inherit;
			}
		}
	}
}

