
.btn {
  &:focus,
  &.focus,
  &:active,
  &.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.navbar-nav a {
  min-height: $navbar-height;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin-bottom: -80px;
	padding-bottom: 80px;
}
footer {
	padding: 20px 0;
	margin-top: 20px;
	border-top: 1px solid rgba(116,129,143,.1);
	color: rgba(116,129,143,.5);
	font-size: 12px;
}

/* panel */
.panel {
	&.empty-state {
		border: 1px solid #dbe8eb;
		border-radius: 0;
		border-top: 0;
		.empty-state-quote {
			p {
				color: #666;
			}
			cite {
				color: inherit;
			}
		}
	}
}

