footer {
  background: $footer-background;
  padding: 40px 0;
  margin-top: 20px;
  text-align: center;

  h2 {
    color: #ffffff;
    font-weight: bold;
    margin: 60px;
  }

  nav {
    padding-bottom: 60px;

    ul li {
      display: inline-block;

      a {
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding-right: 40px;
        text-transform: uppercase;
      }

      &.divider {
        background-color: lighten($footer-background, 4%);
        margin-right: 40px;
        width: 1px;
        height: 13px;
      }
    }
  }

  .copyright {
    color: $footer-copyright-text;
    font-size: 13px;
    margin: 60px 0px;
  }
}
