fieldset + fieldset {
  border-top: 1px solid $light-gray;
  margin-top: 20px;
  padding-top: 10px;
}

fieldset:last-child {
  margin-bottom: 40px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  .avatar {
    display: block;
    margin-top: 10px;
  }
}

label {
  color: $darkest-blue;
  font-size: 1.2em;
  font-weight: normal;
}

label.control-label + .radio,
label.control-label + .checkbox {
  margin-top: 2px;
  padding-top: 14px;
  border-top: 1px solid $light-gray;
}

input.form-control,
select.form-control,
textarea.form-control {
  background-color: $lightest-gray-highlight;
  border-color: $gray;
  border-radius: 3px;
  box-shadow: none;
  color: $black;
  font-size: 1.2em;
  font-weight: lighter;
  height: $line-height-computed + ($padding-base-vertical * 2) + 14;

  &[placeholder]::-webkit-input-placeholder { /* WebKit browsers */
    color: #666;
  }
  &[placeholder]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #666;
    opacity: 1;
  }
  &[placeholder]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #666;
    opacity: 1;
  }
  &[placeholder]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #666;
  }

  @include placeholder {
    color: $gray;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
  }

  &.inline-label {
    @include placeholder {
      color: $darkest-blue;
      font-weight: normal;
    }

    &:focus, &.focus {
      @include placeholder {
        color: $gray;
      }
    }
  }

  &:focus,
  &.focus {
    background-color: $white;
    border-color: $blue;
    box-shadow: none;
    outline: none;
  }
}

textarea.form-control {
  height: auto;
  padding: 10px 12px;
  resize: none;
}

.radio,
.checkbox {
  label {
    display: block;
    font-weight: lighter;

    input {
      margin-right: 14px;
    }
  }
}

.has-success {
  .control-label {
    color: $darkest-blue;
  }

  .form-control {
    border-color: $gray;
    box-shadow: none;

    &:focus,
    &.focus {
      background-color: $white;
      border-color: $blue;
      box-shadow: none;
      outline: none;
    }
  }
}

.has-error {
  .control-label {
    color: $darkest-blue;
  }

  .form-control {
    border-color: $light-red;

    &:focus,
    &.focus {
      background-color: $white;
      border-color: $light-red;
      box-shadow: none;
      outline: none;
    }
  }

  .glyphicon {
    color: $red;
  }

  .help-block {
    color: $darkest-blue;
  }
}

.has-feedback {
  color: $dark-gray;

  .glyphicon {
    position: absolute;
    margin-top: -40px;
    right: 5px;
    top: auto;
  }
}

.help-block {
  font-weight: lighter;

  &.help-block-right {
    float: right;
    margin-top: 13px;
  }
}
