%form-element {
}

.form {

  .form-group,
  fieldset,
  legend {
    margin-bottom: 10px;
  }

  fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border: 0;
  }

  legend {
    color: black;
    display: block;
    font-size: 14px;
    font-weight: 600;
  }
}

.form-actions {
  margin-top: 20px;
}

.form-group {
  position: relative;
}

.form-control {
  @include box-sizing(border-box);
  border: 2px solid $muted;
  border-radius: 4px;
  font-size: .9em;
  padding: 33px 13px 9px;
  height: auto;
  width: 100%;
  outline: none;
  box-shadow: none;

  &:focus {
    border-color: $primary;
    box-shadow: none;
    outline: 0;
  }
}

.form-label {
  position: absolute;
  top: 0;
  padding: 10px 15px;

  font-size: 14px;
  font-weight: 600;
}


[data-form-danger] {
  .form-label {
    color: $danger;
  }

  .form-control,
  .form-control:focus {
    border-color: $danger;
  }
}

// TODO This is a regression from the previous styleguide proposed by @whale
// and implemented by @pieterbeliqe. Needs fixing, my bad :(
.radio,
.checkbox {
  @include clearfix;

  .form-control {
    position: relative;
    top: auto;
    margin-left: 0;
  }

  .form-label {
    position: relative;
    top: -5px;
    padding: 5px;
  }
}


.form-search {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fcfcfc;

  padding: 20px 30px;

  > label {

    > input[type=search] {
      font-size: 18px;
      font-style: italic;
      border: none;
      background-color: transparent;
      outline: none;
      display: block;
    }

  }
}

.form-reply {
  @include clearfix;
  padding-left: 45px + 30px;
  padding-right: 45px + 30px;

  margin-bottom: 30px;

  > .person {
    float: left;
    margin-left: - (45px + 30px);
  }

  textarea {
    border-radius: 3px;
    border: 1px solid #CCC;

    font-size: 16px;

    padding: 10px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;

    display: block;
    width: 100%;

    outline: none;

    resize: vertical;
  }
}

