.landing-page {
    background-color: $white;

    .logo {
        width: 10rem;
        height: 10rem;
        margin: 5rem auto;
    }

    .tagline {
        color: $grey;
        display: block;
        padding: 2rem 0;
        text-align: center;

        a {
            color: $grey;
        }
    }

    .alert {
        margin: 0 auto;
        @include box-sizing(border-box);
        width: 90%;
    }
}

.landing-page_container {
    margin: 2rem auto;
    max-width: 37rem;
    text-align: center;
    width: 94%;
}

.landing-page--alternate {
    background-color: $secondary;
    padding: 2rem 0;

    h3 {
        color: $white;
        line-height: 1.35;
    }

    p {
        color: rgba($white, .9);
        width: 95%;
        line-height: 1.6;
        margin: 0 auto 1rem;
    }
}

.new_beta_invite {
    @include clearfix;
    margin: 0 auto;
    padding: 2rem 0;
    width: 90%;

    .input-container {
        float: left;
        width: 75%;
    }

    .btn-container {
        float: right;
        width: 24%;
    }

    .btn {
        @include box-sizing(border-box);
        width: 100%;
        height: 4rem;
        line-height: 4.2rem;
    }
}
