.list {
  > .list-item {
    border-bottom: 1px solid #F2F2F2;
  }
}

.list-no-bullets {
  list-style-type: none;
  padding: 0;

  > li {
    margin-bottom: .35rem;
  }
}

.list-timeline {
  display: block;
  @include clearfix;
  border-left: 2px solid #F2F2F2;
  margin-left: ((45px - 2px) * 0.5);

  > .list-item {
    border-bottom: none;
    margin-left: -((45px - 2px) * 0.5);
  }

}
