.list-group-horizontal {
  .list-group-item {
    display: inline-block;
    position: relative;
    margin-left: -4px;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-left-radius: 4px;
      margin-left: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-right-radius: 4px;
    }
  }
}

.list-group-icons {
  .glyphicon {
    margin-right: 10px;
  }
}
