.list {
  padding-top: 4px;

  > .list-item {
    margin-top: 10px;
    border-bottom: 1px solid $brand-border;

    > .btn-group {
      margin-top: 5px;
    }
  }
}

.list-no-bullets {
  list-style-type: none;
  padding: 0;

  > li {
    margin-bottom: .35rem;
  }
}

.list-conversations {
  padding-top: $padding-base-vertical;
  overflow-y: visible;

  > .list-item {
    border: none;
  }
}

.list-timeline {
  display: block;
  @include clearfix;
  border-left: 2px solid #F2F2F2;
  margin-left: ((45px - 2px) * 0.5);

  > .list-item {
    border-bottom: none;
    margin-left: -((45px - 2px) * 0.5);
    margin-bottom: 30px;
  }

}
