.message {
  color: $gray-darker;
}

.message-header {
  font-size: $font-size-small;
  padding: $padding-large-vertical $padding-large-horizontal;

  > .avatar {
    float: left;
    display: inline-block;
    margin-right: $padding-small-horizontal;
  }
}

.message-content {
  padding-left: $padding-large-horizontal;
  padding-right: $padding-large-horizontal;
}
