@import 'addons/clearfix';

// inspect this once again, doesn't look like its required to do such stuff

.nav {
  margin-top: 0;
  margin-bottom: 0;

  > li {
    list-style-type: none;

    > a {
    }
  }
}

.nav-separated {
  > li {
    border-right: 1px solid $navbar-default-border;

    &:first-child {
      border-left: 1px solid $navbar-default-border;
    }
  }
}

.nav-steps {
  position: relative;
  text-align: justify !important;
  width: 96%;
  height: $navbar-height;

  &::after {
    content: "\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7";
    color: $dark-gray;
    font-size: 10px;
    letter-spacing: 3px;
    position: absolute;
    top: 0;
    height: $navbar-height;
    line-height: $navbar-height;
    overflow: hidden;
    width: 100%;
  }

  > li {
    float: none;
    position: relative;
    z-index: 2;
    display: inline-block;

    > a {
      background-color: $navbar-default-bg;
      color: $dark-gray !important;
      display: inline-block;
      position: relative;
      white-space: nowrap;

      .glyphicon {
        font-size: 10px;
        width: 10px;
        left: 0;
        right: 0;
        top: 5px;
        position: absolute;
        margin: 0 auto;
        color: $dark-gray;
        display: none;
      }

      &.completed {
        .glyphicon {
          display: block;
        }
      }

      &.active {
        font-weight: bold;
        color: $white !important;

        &::after {
          bottom: 0;
          color: $white;
          content: "\00B7";
          font-size: 30px;
          height: 5px;
          left: 0;
          line-height: 5px;
          margin: auto;
          overflow: hidden;
          position: absolute;
          right: 0;
          width: 12px;
        }
      }

    }
  }

  .strech {
    display: inline-block;
    width: 100%;
  }
}
