@import 'addons/clearfix';

.nav {
  @include clearfix;
  margin-top: 0;
  margin-bottom: 0;

  > li {
    list-style-type: none;
    float: left;

    > a {
      display: block;
    }
  }
}

.nav-separated {
  li {
    border-right: 1px solid $navbar-default-border;

    &:first-child {
      border-left: 1px solid $navbar-default-border;
    }
  }
}
