.nav-steps {
  width: 100%;
  height: $navbar-height;
  overflow: hidden;
  position: relative;

  &::after {
    content: "\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7";
    color: $blue-gray;
    letter-spacing: 3px;
    position: absolute;
    top: 0;
    height: $navbar-height;
    line-height: $navbar-height;
    overflow: hidden;
    padding: 0 10px;
  }

  > li {
    float: none;
    position: relative;
    z-index: 2;
    display: inline-block;

    > a {
      background-color: $navbar-inverse-bg;
      display: inline-block;
      padding: 15px 10px;
      position: relative;
      white-space: nowrap;
      height: $navbar-height;

      .glyphicon {
        font-size: 10px;
        width: 10px;
        left: 0;
        right: 0;
        top: 5px;
        position: absolute;
        margin: 0 auto;
        color: $gray-dark;
        display: none;
      }

      &.completed {
        color: $blue-gray;

        .glyphicon {
          display: block;
          color: $blue-gray;
        }
      }

      &.active {
        font-weight: bold;
        color: white;

        &::after {
          bottom: 0;
          color: white;
          content: "\00B7";
          font-size: 30px;
          height: 5px;
          left: 0;
          line-height: 9px;
          margin: auto;
          overflow: hidden;
          position: absolute;
          right: 0;
          width: 12px;
        }
      }

      i.geomicon-check {
        padding-right: 4px;
      }
    }
  }

  .strech {
    display: inline-block;
    width: 100%;
  }
}
