@import 'addons/clearfix';

// inspect this once again, doesn't look like its required to do such stuff

.nav {
  margin-top: 0;
  margin-bottom: 0;

  > li {
    list-style-type: none;

    > a {
    }
  }
}

.nav-separated {
  > li {
    border-right: 1px solid $navbar-default-border;

    &:first-child {
      border-left: 1px solid $navbar-default-border;
    }
  }
}

.nav-tabs {
  border-bottom: none;
  margin-top: 10px;

  li {
    float: left;
    margin-left: 15px;
    margin-right: 15px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      border: none;
      color: #7B8193;
      font-size: 13px;
      line-height: 28px;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;

      &:hover,
      &.hover,
      &.active {
        background-color: transparent;
        box-shadow: inset 0 -6px 0 0 #b5cbd0;
        color: $gray-darker;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  &.nav-tabs-lg {
    li {
      a {
        font-size: 16px;
      }
    }
  }
}

.nav-steps {
  position: relative;
  text-align: justify !important;
  width: 96%;
  height: $navbar-height;

  > li {
    float: none;
    position: relative;
    z-index: 2;
    display: inline-block;

    > a, div {
      background-color: $navbar-default-bg;
      color: $gray-dark;
      display: inline-block;
      padding: 15px 10px;
      position: relative;
      white-space: nowrap;
      height: $navbar-height;

      .glyphicon {
        font-size: 10px;
        width: 10px;
        left: 0;
        right: 0;
        top: 5px;
        position: absolute;
        margin: 0 auto;
        color: $gray-dark;
        display: none;
      }

      &.completed {
        color: white;

        .glyphicon {
          display: block;
          color: white;
        }

        &::after {
          content: "\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7";
          color: white;
          font-size: 10px;
          letter-spacing: 3px;
          position: absolute;
          top: 0;
          height: $navbar-height;
          line-height: $navbar-height;
          overflow: hidden;
          padding: 0 10px;
        }
      }

      &.active {
        font-weight: bold;
        color: white;

        &::after {
          bottom: 0;
          color: white;
          content: "\00B7";
          font-size: 30px;
          height: 5px;
          left: 0;
          line-height: 5px;
          margin: auto;
          overflow: hidden;
          position: absolute;
          right: 0;
          width: 12px;
        }
      }

      i.ss-check {
        padding-right: 4px;
      }
    }
  }

  .strech {
    display: inline-block;
    width: 100%;
  }
}
