
.navbar {
  border: 0;

  // only bcz of /accounts/new - maybe its only a html problem
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  .username {
    margin-left: 10px;
  }

  .btn {
    margin-top: 7px;
    margin-left: 10px;
  }
}

.navbar-brand-icon {
  width: 50px;
  //height: 50px;
  padding: 15px;
  background-color: $navbar-default-brand-bg;

  img {
    width: 20px;
    height: 20px;
  }
  a {
    padding: 15px;
    margin: -15px;
    &:hover {
      background-color: rgba(0,0,0,.1) !important;
    }
  }
}

.navbar-right {
  margin-right: 20px;
}

.navbar-homepage {
  height: 72px;
  background: #4D5055;
  
  .navbar-header {
    height: 72px;
  }

  .navbar-brand {
    font-size: 21px;
    font-weight: 600;
    img {
      width: 20px;
      height: 20px;
      margin: -4px 5px 0 0;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .navbar-nav {
    li a {
        -webkit-transition: .6s all;
      }
      li > a:hover {
        color: #e6e6e6;
        background-color: rgba(0,0,0,.1);
        -webkit-transition: .3s all;
      }
    }

  .btn {
    margin-top: 18px;
  }

  .btn-default {
    &:hover,
    &.hover {
      background-color: $black;
    }
  }

  .navbar-header,
  .navbar-nav {
    a {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  .navbar-toggle {
    border: 0;
    .icon-bar {
      background: rgba(255,255,255,.8);
    }
  }
}

@media (max-width: 768px) {
  .navbar {
  }
  .navbar-nav {
    background: #4D5055;
  }
}

.navbar-placeholder {
  height: 72px;
}
