.navbar-brand-icon {
  width: 50px;
  height: 50px;
  background-color: $navbar-default-brand-bg;

  img {
    width: 30px;
    height: 30px;
  }

  a {
    &:hover {
    }
  }
}

.navbar-homepage {
  height: 72px;
  background: #4D5055;
  
  .navbar-header {
    height: 72px;
  }

  .navbar-brand {
    img {
      width: 20px;
      height: 20px;
      margin: -4px 5px 0 0;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .navbar-nav {
    li a {
        -webkit-transition: .6s all;
      }
      li > a:hover {
        color: #e6e6e6;
        background-color: rgba(0,0,0,.1);
        -webkit-transition: .3s all;
      }
    }

  .btn {
    margin-top: 18px;
  }

  .btn-default {
    &:hover,
    &.hover {
      background-color: $gray-darker;
    }
  }

  .navbar-header,
  .navbar-nav {
    a {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  .navbar-toggle {
    margin-top: 19px;
    border: 0;
    .icon-bar {
      background: rgba(255,255,255,.8);
    }
    &:hover {
      background: rgba(0,0,0,.1);
    }
  }
}

@media (max-width: 768px) {
  .navbar {
  }
  .navbar-nav {
    background: #4D5055;
    .btn-primary {
      margin-left: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
    }  
  }
}

.navbar-placeholder {
  height: 72px;
}

/* navbar dropdown */
.navbar-nav > li > .dropdown-menu {
  width: 100%;
  padding: 0;
  background: #212326;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  li > a {
    color: rgba(255,255,255,.5);
    &:hover {
      background: rgba(255,255,255,.1);
      color: rgba(255,255,255,.7);
    }
  }
}

.navbar-nav.navbar-left > li > .dropdown-menu a {
  margin-left: -50px;
  padding-left: 65px;

  &.navbar-company-link {
    color: #e6e6e6;
  }
}

.navbar-tabs {
  border-bottom: 1px solid #B5CBD0;
  margin-top: 10px;
}
