.navbar {
  font-weight: 300;
}

.navbar-static-top {
  border-width: 0;
}

// TODO: Use navbar-inverse variables instead
.navbar-default {
  .dropdown-menu {
    background-color: $gray-darker;

    li {
      background-color: $gray-darker;

      &.divider {
        background-color: $gray-dark;
      }

      a {
        color: white;
        font-weight: 300;
        padding: $padding-large-vertical $padding-base-horizontal;

        &:hover {
          background-color: $gray-dark;
        }
      }
    }
  }
}

.navbar-brand {
  background-color: $brand-color;

  &:hover {
    background-color: darken($brand-color, 5%) !important;
  }

  img {
    margin-top: -3px;
    height: 30px;
    width: 30px;
  }
}

.navbar-homepage {
  height: 72px;
  background: #4D5055;

  .navbar-header {
    height: 72px;
  }

  .navbar-brand {
    background-color: transparent;

    img {
      width: 20px;
      height: 20px;
      margin: -4px 5px 0 0;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .navbar-nav {
    li a {
        -webkit-transition: .6s all;
      }
      li > a:hover {
        color: #e6e6e6;
        background-color: rgba(0,0,0,.1);
        -webkit-transition: .3s all;
      }
    }

  .btn {
    margin-top: 18px;
  }

  .btn-default {
    &:hover,
    &.hover {
      background-color: $gray-darker;
    }
  }

  .navbar-header,
  .navbar-nav {
    a {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  .navbar-toggle {
    margin-top: 19px;
    border: 0;
    .icon-bar {
      background: rgba(255,255,255,.8);
    }
    &:hover {
      background: rgba(0,0,0,.1);
    }
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    background: #4D5055;
    .btn-primary {
      margin-left: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
    }
  }
}

.navbar-placeholder {
  height: 72px;
}

.navbar-tabs {
  border-bottom: 1px solid #B5CBD0;
  margin-top: 10px;
}
