.note {
  padding-left: $avatar-default-size + 30px;
  background-color: $highlight;

  color: $gray;
  font-size: 16px;
  line-height: 24px;

  > .person {
    float: left;
    margin-left: - ($avatar-default-size + 30px);
  }

  > .content {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
  }

  > .meta {
    color: $light-gray;
    font-size: 14px;
    line-height: 21px;
  }
}
