.page {
  position: relative;
}

.page-section {
  margin-top: 150px;
  padding-bottom: 245px;
  padding-top: 100px;
}

.navbar-placeholder + .page-section {
  padding-top: 0;
}

.page-full + .page-section {
  margin-top: 0px;
  padding-top: 0;
}
