$panel-bg: $white;
$panel-border: $lightest-gray-highlight;

.panel {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid $well-border;
  border-radius: $border-radius-base;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

.panel-lg {
  padding: 24px;
  border-radius: $border-radius-large;
}
