.plan-list {
}

.plan {
  text-align: center;
  padding-bottom: 20px;

  > .plan-name {
    text-transform: uppercase;
  }

  > .plan-info {
    font-weight: bold;
  }

  > .btn {
    font-weight: 600;

    > .glyphicon {
      display: none;
    }

    &.btn-selected {
      @extend .btn-success;

      > .glyphicon {
        display: inline;
      }
    }
  }
}

.list-group-horizontal {
  .plan {
    width: 25%;
  }
}
