.pricing-showcase {
  &::after {
    width: 100px;
    height: 100px;
    border-bottom: 3px solid $neon-blue;
  }
}

.pricing-showcase-item {
  float: left;
  width: 25%;
  text-align: center;

  &::after {
    content: "\00B7";
    font-size: 84px;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    width: 12px;
  }

  > .pricing-showcase-item-conversations {
    color: $dark-gray;
    font-size: 18px;
    font-weight: 300;
  }

  > .pricing-showcase-item-price {
    font-size: 30px;

    &::first-letter {
      font-size: 22px;
      vertical-align: text-top;
    }

    > .pricing-showcase-item-price-frequency {
      color: $dark-gray;
      font-size: 18px;
      margin-left: -5px;
    }
  }
}
