.search-results {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-header {
  background-color: $lightest-gray;
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid $light-gray;
  color: $dark-gray;
  font-size: 16px;
  padding: 15px 30px;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.search-result {
  margin: 0;
  padding: 10px 20px;
  background-color: $lightest-gray;

  &:hover {
    background-color: $white;
  }

  a {
    color: $dark-gray;
    display: block;
    font-size: lighter;
  }
}

.search-result-populated {
  margin: 0;
  padding: 10px 20px;
  background-color: $lightest-gray;

  a {
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.search-results-container {
  .popover {
    left: auto;
    top: auto;
    display: block;
    margin-top: 5px;
    margin-left: 170px;
    max-width: 400px;
    padding: 0;
    position: absolute;
  }

  .popover-content {
    padding: 0;
    border-width: 2px;
  }

  .arrow:after {
    border-bottom-color: $lightest-gray !important;
  }
}
