.section {
  position: relative;
  height: 500px;
  min-height: 300px;
}

.page-middle {
  bottom: 0;
  display: block;
  height: 450px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

.lead-header {
  font-size: 30px;
  color: $white;
}

.lead-header + .lead-text {
  margin-top: 20px;
}

.lead-text {
  color: $gray-blue;
  font-size: 20px;
  font-family: 'Droid Serif';
  margin-left: 20px;
  margin-right: 20px;
}

.section-screenshots {
  $screenshot-middle: 555;
  $screenshot-side: 466;
  $screenshot-middle-size: $screenshot-middle / ( ($screenshot-side * 2) + $screenshot-middle ) * 100%;
  $screenshot-side-size: ( 100% - $screenshot-middle-size ) / 2;
  width: 90%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;

  .screenshot {
    float: left;
    width: $screenshot-side-size;

    .inner {
      padding-left: 3%;
      padding-right: 3%;
    }

    img {
      width: 100%;
      //jw;opacity: .3;
    }
  }

  .screenshot-middle {
    width: $screenshot-middle-size;
  }

  .screenshot-text {
    margin-top: 25px;
    .inner {
      margin-left: 15px;
      margin-right: 15px;
      &.focused  p {
        color: $white;
      }
    }
    p {
      color: $dark-gray;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
  }
}
