.section {
  position: relative;
  height: 500px;
  min-height: 300px;
}

.page-middle {
  bottom: 0;
  display: block;
  height: 450px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.page-centered {
  text-align: center;

  .lead-text {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.lead-header {
  font-size: 30px;
  color: $gray-darker;
}

.lead-header + .lead-text {
  margin-top: 20px;
}

.lead-text {
  color: $gray-dark;
  font-size: 20px;
  font-family: 'Droid Serif';
}

.inverse-background {
  .lead-header {
    color: white;
  }

  .lead-text {
    color: $gray-light;
  }
}
