.logo {
  position: relative;
  height: 198px;
  width: 198px;
  margin: 10% auto; 
  margin-top: 15%;  
  background: url(https://dl.dropboxusercontent.com/u/48472210/helpful_logo_1.png) no-repeat center;
  background-size: 100%;
  z-index: 1;
}

.account{
   width: 60%;
   min-width: 300px;
   margin: 0 auto;
}