$status-unread-background-color: $blue;
$status-urgent-background-color: $red;
$status-reply-color: #b5cbd0;
$status-size: 12px;

.status {
  border-radius: 50%;
  display: inline-block;
  width: $status-size;
  height: $status-size;
}

.status-info {
  background-color: $blue;
}

.status-warning {
  background-color: $red;
}

.status-reply {
  &:after {
    color: $text-muted;
    content: "↩";
    font-family: "SSGeomiconsSquared";
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
  }
}
