.tag {
  background-color: transparent;
  border-radius: $btn-radius;
  border: 1px solid darken($blue, 20%);
  color: darken($blue, 20%) !important;
  font-size: 14px;
  line-height: 30px;
  margin-left: 6px;
  margin-right: 6px;
  padding: 4px 12px 6px 12px;

  &:hover {
    background-color: $gray-light;
    border: 1px solid $blue;
    color: darken($blue, 20%);
  }
}
