<%== markdown(@message.content) %>

<small>
  <%= mail_to @conversation.mailbox, 'Reply to this email' %> to continue the conversation.
</small>


<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
  <tr>
    <td width="100%" height="20" valign="top"></td>
  </tr>
  <tr>
    <td width="100%" height="1" valign="top" style="background-color:#EFEFEF"></td>
  </tr>
  <tr>
    <td width="100%" height="20" valign="top"></td>
  </tr>
</table>

<% if @previous_messages.any? %>
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
    <% @previous_messages.each do |message| %>
      <tr>
        <td valign="top">
          <%= message.person.email %>
        </td>
        <td valign="top">
          <%== markdown(message.content) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
