<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>You have a new Helpful message:</h2>
    <p>
      <%= @message.content %>
    </p>
  </body>
</html>
