<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Thank you for submitting a new support request. A member of our team
    will get back to you soon.</h2>
    <blockquote>
      <%= @conversation.messages.first.content %>
    </blockquote>
  </body>
</html>
