.alert {
  a {
    color: $alert-link-color;
    font-weight: $alert-link-font-weight;
    text-decoration: none;
    border-bottom: 2px solid white;

    .hover,
    &:hover {
      color: $gray-lighter;
      border-color: $gray-lighter;
    }
  }

  .icon {
    padding-right: $padding-xs-horizontal;
    font-size: 20px;
    top: 4px;
  }
}

.alert-success {
  .icon {
    color: $brand-success;
  }
}

.alert-info {
  .icon {
    color: $brand-info;
  }
}

.alert-danger {
  .icon {
    color: $brand-danger;
  }
}

.alert-dismissible {
  .close {
    color: white;
  }
}
