.alert {
  margin-bottom: 0;
  border-bottom: 1px solid darken($alert-default-bg, 5%);

  &:last-child {
    border-bottom: 0;
  }

  a {
    color: $alert-link-color;
    font-weight: $alert-link-font-weight;
    text-decoration: underline;

    .hover,
    &:hover {
      color: $gray-lighter;
      text-decoration: underline;
    }
  }

  .geomicon {
    font-size: 20px;
    padding-right: $padding-xs-horizontal;
    padding-left: $padding-xs-horizontal;
    top: $padding-small-vertical;
  }

  .close-button {
    float: right;
    background-color: transparent;
    border: 0;
    
    .geomicon {
      opacity: 0.5;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

.alert-success {
  .icon {
    color: $brand-success;
  }
}

.alert-info {
  .icon {
    color: $brand-info;
  }
}

.alert-danger {
  .icon {
    color: $brand-danger;
  }
}

.alert-dismissible {
  .close {
    color: white;
  }
}
