.alert {
  a {
    color: $alert-link-color;
    text-decoration: underline;

    .hover,
    &:hover {
      color: darken($alert-link-hover-color, 10%);
      text-decoration: underline;
    }
  }

  .icon {
    padding-right: $padding-xs-horizontal;
    font-size: 20px;
    top: 4px;
  }
}

.alert-success {
  .icon {
    color: $brand-success;
  }
}

.alert-info {
  .icon {
    color: $brand-info;
  }
}

.alert-danger {
  .icon {
    color: $brand-danger;
  }
}

.alert-dismissible {
  .close {
    color: white;
  }
}
