$avatar-small-size: 20px;
$avatar-base-size: 26px;

.avatar {
  @extend .img-circle;
  display: inline-block;
  height: $avatar-base-size;
  width: $avatar-base-size;
}

.avatar-small {
  height: $avatar-small-size;
  width: $avatar-small-size;
}
