.conversation {
  border-top: 1px solid $brand-border;

  &:first-child {
    border-top: none;
    padding-top: 1px;
  }

  &:hover,
  &.hover {
    background-color: white;
  }

  // Quick actions
  &.is-collapsed .conversation-actions {
    display: none;
  }

  &:hover .conversation-actions,
  &.hover .conversation-actions {
    display: block;
  }


  &:not(.conversation-row-empty) {
    &.is-expanded {
      background-color: white;
      border-top: none;
      border-radius: $border-radius-base;
      box-shadow: inset 0 0 0 1px $brand-border;
      padding-top: 1px;

      &+ .conversation {
        border-top: none;
        padding-top: 1px;
      }
    }
  }
}

.conversation-header {
  color: $gray-darker;
  padding: 20px $grid-gutter-width;
  padding-left: $grid-gutter-width + 30px + $padding-base-horizontal;
  position: relative;

  > .status {
    left: 10px;
    top: 20px + ((30px / 2) - (12px / 2));
    z-index: 1;
    position: absolute;
  }

  > .avatar {
    float: left;
    margin-left: - (30px + $padding-base-horizontal);
  }

  > .person {
    font-size: $font-size-small;
    color: $gray;
  }
}

.conversation-preview {
  height: $line-height-computed;

  > .reply {
    color: $gray;
    float: left;
    margin-left: -25px;
  }
}

.conversation-stream {
  border-top: 1px solid $brand-border;
}

.conversation-response {
  border-top: 1px solid $brand-border;
  padding: $padding-large-vertical $grid-gutter-width;

  .form-control {
    height: auto !important;
  }
}
