$brand-border: #E6EBEB;
$gutter: 46px;

.conversation {
  border-top: 1px solid $brand-border;

  &:first-child {
    border-top: none;
    padding-top: 1px;
  }

  &.is-collapsed {
    .conversation-actions {
      display: none;
    }
  }

  &:not(.conversation-row-empty) {
    &:hover,
    &.hover,
    &.is-expanded {
      background-color: white;
      border-top: none;
      border-radius: $border-radius-base;
      box-shadow: inset 0 0 0 1px $brand-border;
      padding-top: 1px;

      .conversation-actions {
        display: block;
      }

      &+ .conversation {
        border-top: none;
        padding-top: 1px;
      }
    }
  }
}

.conversation-header {
  color: $gray-darker;
  padding: $padding-large-vertical $padding-large-horizontal;
  padding-left: $padding-large-horizontal + 30px + $padding-base-horizontal;

  > .status {
    float: left;
    margin-left: -25px;
    margin-top: 5px;
  }

  > .avatar {
    float: left;
    margin-left: - (30px + $padding-base-horizontal);
  }
}


.conversation-person {
  font-size: $font-size-small;
}

.conversation-preview {
  height: $line-height-computed;

  > .reply {
    color: $gray;
    float: left;
    margin-left: -25px;
  }
}

.conversation-response {
  border-top: 1px solid $brand-border;
  padding: $padding-large-vertical $padding-large-horizontal;
  padding-left: $gutter;

  .form-control {
    height: auto !important;
  }
}
