.dropdown-menu {
  border: none;

  .form-control {
    margin: $padding-small-vertical $padding-small-horizontal;
    width: auto;
  }

  .avatar {
    margin-right: $padding-small-horizontal;
  }

  > li > a > .badge {
    margin-left: $padding-base-horizontal;
  }

  > .active .badge {
    color: $component-active-bg;
    background-color: $component-active-color;
  }
}
