.dropdown {
  .navbar-form {
    padding-left: 0;
    padding-right: 0;
  }
}

.dropdown-menu {
  border: none;

  .form-control {
    margin: $padding-small-vertical $padding-small-horizontal;
    width: auto;
  }

  .avatar {
    margin-right: $padding-small-horizontal;
  }

  > li {
    > a {
      padding: $padding-large-vertical $padding-large-horizontal;

      > .badge {
        margin-left: $padding-base-horizontal;
      }
    }

    &.dropdown-header {
      color: $dropdown-header-color !important;
      font-size: $font-size-xs;
      letter-spacing: 1px;
      padding: $padding-large-vertical $padding-large-horizontal;
      text-transform: uppercase;
    }
  }

  > .active .badge {
    color: $component-active-bg;
    background-color: $component-active-color;
  }
}
