.event {
  padding: $padding-large-vertical $grid-gutter-width;
  font-size: $font-size-small;

  .person {
    display: inline;

    div {
      display: inline;

      span {
        display: none;

        &:first-child {
          display: inline;
        }
      }
    }
  }
}
