.control-label {
  color: $legend-color;
  font-weight: normal;
}

.form-control {
  box-shadow: none;

  &:focus {
    background-color: $input-bg-focus;
    box-shadow: none;
    outline: none;
  }
}

.form-control-invisible {
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;

  &:focus,
  &.focus {
    box-shadow: none;
    background-color: transparent;
  }
}

.form-actions {
  @include clearfix;
}

.form-control-feedback {
  position: absolute !important;
  top: ($line-height-computed + 5) !important;
  right: 0 !important;
  z-index: 2 !important; // Ensure icon is above input groups
  width: $input-height-base !important;
  height: $input-height-base !important;
  line-height: $input-height-base !important;
  text-align: center !important;
}

.form-subtext {
  color: $blue-gray;
}

.fake-input-file {
  cursor: pointer;
  display: inline-block;
  position: relative;

  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}