@charset "UTF-8";

/*
* Symbolset
* www.symbolset.com
* Copyright © 2013 Oak Studios LLC
*/

@font-face {
  font-family: "SSGeomiconsSquared";
  src: asset-url('ss-geomicons-squared.eot');
  src: asset-url('ss-geomicons-squared.eot?#iefix') format('embedded-opentype'),
       asset-url('ss-geomicons-squared.woff') format('woff'),
       asset-url('ss-geomicons-squared.ttf')  format('truetype'),
       asset-url('ss-geomicons-squared.svg#SSGeomiconsSquared') format('svg');
  font-weight: 400;
  font-style: normal;
}

.geomicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'SSGeomiconsSquared';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.geomicon-crosshair:before { content: '⌖' }
.geomicon-search:before { content: '🔎' }
.geomicon-view:before { content: '👀' }
.geomicon-link:before { content: '🔗' }
.geomicon-move:before { content: '' }
.geomicon-write:before { content: '✎' }
.geomicon-compose:before { content: '📝' }
.geomicon-lock:before { content: '🔒' }
.geomicon-unlock:before { content: '🔓' }
.geomicon-key:before { content: '🔑' }
.geomicon-backspace:before { content: '⌫' }
.geomicon-ban:before { content: '🚫' }
.geomicon-trash:before { content: '' }
.geomicon-radioactive:before { content: '☢' }
.geomicon-skull:before { content: '💀' }
.geomicon-lightning:before { content: '☇' }
.geomicon-tag:before { content: '' }
.geomicon-bookmark:before { content: '🔖' }
.geomicon-flag:before { content: '⚑' }
.geomicon-like:before { content: '👍' }
.geomicon-dislike:before { content: '👎' }
.geomicon-heart:before { content: '♥' }
.geomicon-star:before { content: '⋆' }
.geomicon-shield:before { content: '' }
.geomicon-trophy:before { content: '🏆' }
.geomicon-medal:before { content: '' }
.geomicon-crown:before { content: '👑' }
.geomicon-bullseye:before { content: '🎯' }
.geomicon-crop:before { content: '' }
.geomicon-layers:before { content: '' }
.geomicon-cut:before { content: '✂' }
.geomicon-clipboard:before { content: '📋' }
.geomicon-brush:before { content: '' }
.geomicon-paintroller:before { content: '' }
.geomicon-paint:before { content: '' }
.geomicon-phone:before { content: '📞' }
.geomicon-rotaryphone:before { content: '☎' }
.geomicon-voicemail:before { content: '⌕' }
.geomicon-megaphone:before { content: '📢' }
.geomicon-rss:before { content: '' }
.geomicon-reply:before { content: '↩' }
.geomicon-envelope:before { content: '✉' }
.geomicon-inbox:before { content: '📥' }
.geomicon-chat:before { content: '💬' }
.geomicon-user:before { content: '👤' }
.geomicon-users:before { content: '👥' }
.geomicon-usergroup:before { content: '' }
.geomicon-male:before { content: '' }
.geomicon-userprofile:before { content: '' }
.geomicon-contacts:before { content: '📇' }
.geomicon-ghost:before { content: '👻' }
.geomicon-cart:before { content: '' }
.geomicon-emptycart:before { content: '' }
.geomicon-gift:before { content: '🎁' }
.geomicon-calculator:before { content: '' }
.geomicon-barchart:before { content: '📊' }
.geomicon-piechart:before { content: '' }
.geomicon-stock:before { content: '' }
.geomicon-box:before { content: '📦' }
.geomicon-home:before { content: '⌂' }
.geomicon-warehouse:before { content: '' }
.geomicon-globe:before { content: '🌐' }
.geomicon-navigate:before { content: '' }
.geomicon-compass:before { content: '' }
.geomicon-signpost:before { content: '' }
.geomicon-map:before { content: '' }
.geomicon-location:before { content: '' }
.geomicon-pin:before { content: '📍' }
.geomicon-code:before { content: '' }
.geomicon-bug:before { content: '🐛' }
.geomicon-puzzle:before { content: '' }
.geomicon-airplay:before { content: '' }
.geomicon-music:before { content: '♫' }
.geomicon-mic:before { content: '🎤' }
.geomicon-headphones:before { content: '🎧' }
.geomicon-volume:before { content: '🔈' }
.geomicon-metronome:before { content: '' }
.geomicon-camera:before { content: '📷' }
.geomicon-picture:before { content: '🌄' }
.geomicon-video:before { content: '📹' }
.geomicon-tv:before { content: '📺' }
.geomicon-videogame:before { content: '🎮' }
.geomicon-dpad:before { content: '' }
.geomicon-play:before { content: '▶' }
.geomicon-pause:before { content: '' }
.geomicon-stop:before { content: '■' }
.geomicon-record:before { content: '●' }
.geomicon-rewind:before { content: '⏪' }
.geomicon-fastforward:before { content: '⏩' }
.geomicon-skipback:before { content: '⏮' }
.geomicon-skipforward:before { content: '⏭' }
.geomicon-eject:before { content: '⏏' }
.geomicon-repeat:before { content: '🔁' }
.geomicon-shuffle:before { content: '🔀' }
.geomicon-storagebox:before { content: '' }
.geomicon-book:before { content: '📕' }
.geomicon-notebook:before { content: '📓' }
.geomicon-grid:before { content: '' }
.geomicon-rows:before { content: '' }
.geomicon-columns:before { content: '' }
.geomicon-thumbnails:before { content: '' }
.geomicon-filter:before { content: '' }
.geomicon-desktop:before { content: '💻' }
.geomicon-laptop:before { content: '' }
.geomicon-tablet:before { content: '' }
.geomicon-smartphone:before { content: '' }
.geomicon-cell:before { content: '📱' }
.geomicon-battery:before { content: '🔋' }
.geomicon-highbattery:before { content: '' }
.geomicon-mediumbattery:before { content: '' }
.geomicon-lowbattery:before { content: '' }
.geomicon-emptybattery:before { content: '' }
.geomicon-chargingbattery:before { content: '' }
.geomicon-lightbulb:before { content: '💡' }
.geomicon-spade:before { content: '♠' }
.geomicon-club:before { content: '♣' }
.geomicon-diamond:before { content: '♦' }
.geomicon-download:before { content: '' }
.geomicon-downloadbox:before { content: '' }
.geomicon-upload:before { content: '' }
.geomicon-uploadcloud:before { content: '' }
.geomicon-addcloud:before { content: '' }
.geomicon-removecloud:before { content: '' }
.geomicon-fork:before { content: '' }
.geomicon-merge:before { content: '' }
.geomicon-replay:before { content: '↺' }
.geomicon-refresh:before { content: '↻' }
.geomicon-sync:before { content: '' }
.geomicon-wifi:before { content: '' }
.geomicon-index:before { content: '' }
.geomicon-file:before { content: '📄' }
.geomicon-files:before { content: '' }
.geomicon-folder:before { content: '📁' }
.geomicon-print:before { content: '⎙' }
.geomicon-list:before { content: '' }
.geomicon-layout:before { content: '' }
.geomicon-action:before { content: '' }
.geomicon-redirect:before { content: '↪' }
.geomicon-expand:before { content: '⤢' }
.geomicon-contract:before { content: '' }
.geomicon-scaleup:before { content: '' }
.geomicon-scaledown:before { content: '' }
.geomicon-info:before { content: 'ℹ' }
.geomicon-alert:before { content: '⚠' }
.geomicon-plus:before { content: '+' }
.geomicon-hyphen:before { content: '-' }
.geomicon-check:before { content: '✓' }
.geomicon-delete:before { content: '␡' }
.geomicon-cat:before { content: '🐈' }
.geomicon-bird:before { content: '🐦' }
.geomicon-owl:before { content: '' }
.geomicon-bone:before { content: '' }
.geomicon-poo:before { content: '💩' }
.geomicon-tree:before { content: '🌲' }
.geomicon-leaf:before { content: '🍂' }
.geomicon-flower:before { content: '⚘' }
.geomicon-mountains:before { content: '⛰' }
.geomicon-settings:before { content: '⚙' }
.geomicon-dashboard:before { content: '' }
.geomicon-notifications:before { content: '🔔' }
.geomicon-contrast:before { content: '◐' }
.geomicon-magnet:before { content: '' }
.geomicon-toolbox:before { content: '' }
.geomicon-wrench:before { content: '🔧' }
.geomicon-hammer:before { content: '🔨' }
.geomicon-screwdriver:before { content: '' }
.geomicon-nut:before { content: '🔩' }
.geomicon-clock:before { content: '⏲' }
.geomicon-stopwatch:before { content: '⏱' }
.geomicon-watch:before { content: '⌚' }
.geomicon-alarmclock:before { content: '⏰' }
.geomicon-counterclockwise:before { content: '⥀' }
.geomicon-clockwise:before { content: '⥁' }
.geomicon-calendar:before { content: '📅' }
.geomicon-addcalendar:before { content: '' }
.geomicon-removecalendar:before { content: '' }
.geomicon-checkcalendar:before { content: '' }
.geomicon-icecream:before { content: '🍨' }
.geomicon-popsicle:before { content: '' }
.geomicon-coffee:before { content: '' }
.geomicon-espresso:before { content: '' }
.geomicon-mug:before { content: '☕' }
.geomicon-tea:before { content: '🍵' }
.geomicon-beer:before { content: '🍺' }
.geomicon-wineglass:before { content: '🍷' }
.geomicon-soda:before { content: '' }
.geomicon-utensils:before { content: '🍴' }
.geomicon-tshirt:before { content: '👕' }
.geomicon-tie:before { content: '' }
.geomicon-glasses:before { content: '👓' }
.geomicon-thermometer:before { content: '' }
.geomicon-sun:before { content: '☀' }
.geomicon-cloud:before { content: '☁' }
.geomicon-crescentmoon:before { content: '🌙' }
.geomicon-planet:before { content: '' }
.geomicon-fan:before { content: '' }
.geomicon-outlet:before { content: '' }
.geomicon-car:before { content: '🚘' }
.geomicon-plane:before { content: '✈' }
.geomicon-bike:before { content: '🚲' }
.geomicon-sailboat:before { content: '⛵' }
.geomicon-rocket:before { content: '🚀' }
.geomicon-highway:before { content: '' }
.geomicon-briefcase:before { content: '💼' }
.geomicon-medicalbag:before { content: '' }
.geomicon-flask:before { content: '' }
.geomicon-burst:before { content: '' }
.geomicon-infinity:before { content: '∞' }
.geomicon-up:before { content: '⬆' }
.geomicon-right:before { content: '➡' }
.geomicon-down:before { content: '⬇' }
.geomicon-left:before { content: '⬅' }
.geomicon-navigateup:before { content: '' }
.geomicon-navigateright:before { content: '▻' }
.geomicon-navigatedown:before { content: '' }
.geomicon-navigateleft:before { content: '◅' }
.geomicon-directup:before { content: '▴' }
.geomicon-directright:before { content: '▹' }
.geomicon-dropdown:before { content: '▾' }
.geomicon-directleft:before { content: '◃' }
.geomicon-share:before { content: '' }
.geomicon-retweet:before { content: '' }
.geomicon-facebook:before { content: '' }
.geomicon-twitter:before { content: '' }
.geomicon-android:before { content: '' }
