.medium-editor {
  color: $gray-darker;
  font-size: $font-size-base;
  min-height: 100px;
}

.medium-editor-placeholder::after {
  color: $gray-light;
  font-size: $font-size-base;
  font-style: normal;
}
