.medium-editor {
  min-height: 100px;
  overflow: scroll;
  padding-top: 10px;

  &:after {
    color: $gray-light;
    font-style: normal;
    padding-top: 12px;
    padding-left: 12px;
  }
}

.form-control-invisible.medium-editor:after {
  padding-left: 0;
}
