$container-width: 64em !default;

// Custom Media Query Variables

$breakpoint-sm: '(min-width: 40em)';
$breakpoint-md: '(min-width: 52em)';
$breakpoint-lg: '(min-width: 64em)';


$white:        #FFF;
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
$black:        #111;

$blue:         #00b3ed;
$red:          #ff4b4b;
$green:        #82c451;
$yellow:       #edda3b;
