// Base Typography

$font-body: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-headline: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Base Colors

$white:         #FFFFFF;
$lightest-gray: #F2F7F8;
$light-gray:    #DBE8EB;
$gray:          #C6D1D4;
$dark-gray:     #393C41;
$black:         #333333;

$light-red:     #FF6C6C;
$red:           #FF4B4B;
$dark-red:      #D74648;

$light-blue:    #60DEF1;
$blue:          #46C4D7;
$dark-blue:     #16A0B5;

$light-green:   #9CDE6B;
$green:         #82C451;
$dark-green:    #68AA37;

$light-yellow:  #EFF160;
$yellow:        #EDDA3B;
$dark-yellow:   #CF9F2B;

// Logical Colors

$muted      : $light-gray;
$weak       : $lightest-gray;
$primary    : $blue;
$success    : $green;
$warning    : $yellow;
$danger     : $red;
$highlight  : #FEA;

$secondary  : $success;
$error      : $danger;

$text-color: $black;

// Avatar

$avatar-default-size: 45px;
$avatar-default-font-size: 24px;

// Btn

$btn-border-radius: 4px;

// Navbar

$navbar-default-color: $black;
$navbar-default-bg: $light-gray;
$navbar-default-border: none;
$navbar-default-link-hover-bg: lighten($light-gray, 3%);
$navbar-default-link-color: $dark-gray;
$navbar-margin-bottom: 0;

// Container

$container-md: 540px;
$container-lg: 740px;
