// Base Typography

$font-body: 'Lato', $helvetica;
$font-headline: 'Montserrat', $helvetica;

// Base Colors

$muted      : #CCC;
$primary    : #3782BA;
$success    : #82C451;
$danger     : #FF5656;
$warning    : #FFB305;

$black      : #333;
$white      : #FEFEFE;
$gray       : #666;
$grey       : $gray;
$secondary  : $success;
$error      : $danger;
$light-gray : $gray;



// Btn

$btn-border-radius: 4px;

// Column

$column-border-width: 3px;
$column-border-color: #e6e6e6;
