// Base Typography

$font-body: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-headline: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Base Colors

$white:        #FFFFFF;
$light-gray:   #F2F7F8;
$gray:         #DBE8EB;
$black:        #333333;

$light-red:    #FF6C6C;
$red:          #FF4B4B;
$dark-red:     #D74648;

$light-blue:   #60DEF1;
$blue:         #46C4D7;
$dark-blue:    #16A0B5;

$light-green:  #9CDE6B;
$green:        #82C451;
$dark-green:   #68AA37;

$light-yellow: #EFF160;
$yellow:       #EDDA3B;
$dark-yellow:  #CF9F2B;

// Logical Colors

$muted      : $gray;
$weak       : $light-gray;
$primary    : $blue;
$success    : $green;
$warning    : $yellow;
$danger     : $red;
$highlight  : #FEA;

$grey       : $gray;
$secondary  : $success;
$error      : $danger;

// Avatar

$avatar-default-size: 45px;

// Btn

$btn-border-radius: 4px;

// Navbar

$navbar-margin-bottom: 0;
