// Base Typography

$font-body: 'Lato', $helvetica;
$font-headline: 'Montserrat', $helvetica;


// Base Colors

$black:      #333;
$white:      #FEFEFE;
$gray:       #666;
$light-gray: #CCC;

$blue:   #3782BA;
$green:  #82C451;
$yellow: #FFB305;
$red:    #FF5656;


// Logical Colors

$muted      : $gray;
$primary    : $blue;
$success    : $green;
$warning    : $yellow;
$danger     : $red;
$highlight  : #FEA;

$grey       : $gray;
$secondary  : $success;
$error      : $danger;


// Avatar

$avatar-default-size: 45px;


// Btn

$btn-border-radius: 4px;


// Column

$column-border-width: 3px;
$column-border-color: #e6e6e6;
