/* Legacy */
$blue:       #216889;
$red:        #E3674A;
$yellow:     #FFB800;
$gray:       #646464;
$cyan:       #CBF7F5;
$peach:      #FFE9D3;
$canary:     #FFF8C0;
$light-gray: #EDEDED;

/* Fonts */
$font-body: 'Lato', $helvetica;
$font-headline: 'Montserrat', $helvetica;

/* Colors */
$black: #333;
$grey: #666;
$white: #fefefe;
$muted: #ccc;
$hushed: #9a9a9a;

$primary: #ff5656;
$secondary: #46c4d7;

$success: #82c451;
$error: #ff797c;