//= require normalize.css

@import 'bourbon';

@import 'variables';
@import 'mixins';

@import 'base/typography',
        'base/colors',
        'base/helpers',
        'base/brand';

@import 'modules/alert',
        'modules/app-footer',
        'modules/app-header',
        'modules/app-container',
        'modules/avatar',
        'modules/button',
        'modules/conversation',
        'modules/form',
        'modules/list',
        'modules/message',
        'modules/nav',
        'modules/navbar',
        'modules/signup_signin';

// Partials
@import "partials/conversations";

body {
    background-color: #eee;
}
