@import 'addons/prefixer';
@import 'css3/box-sizing';

.helpful-embed {
  @include box-sizing(border-box);

  z-index: 99999;

  background-color: white;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #333333;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  max-width: 360px;
  position: relative;
  width: 100%;

  width: 300px;
  margin-left: - (300px / 2);

  p {
    line-height: 1.375;
    margin: 0;
  }

  textarea {
    border: 0;
    color: #333333;
    display: block;
    height: 7.5em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.375;
    margin: 0 auto 2em;
    outline: 0;
    resize: none;
    text-align: center;
    width: 82%;
    -webkit-font-smoothing: antialiased;
  }

  .hidden {
    display: none;
  }

  .btn {
    background-color: #ff5656;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 0 #e54d4d;
    color: white;
    cursor: pointer;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 2.2;
    padding: 0 1em;
    -webkit-font-smoothing: antialiased;
  }

  .question-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .button-container {
    text-align: center;
    margin-top: -1.35em;
  }

  > header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
  }

  .email-container {
    > input {
      padding: 4px;
    }
  }

  .user-image {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    float: left;
    height: 86px;
    width: 86px;

    img {
      border-top-left-radius: 4px;
    }
  }

  .user-ratings {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    float: left;
    list-style: none;
    margin: 0 1.25em 0 0;
    padding: 0;

    .user-rating {
      height: 42px;
      position: relative;
      width: 44px;

      &:first-child {
        height: 43px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        a {
          background-position: center -70%;
        }
      }

      a {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAA7CAYAAAB2bdqpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkI5NDVGMzAzNDA3NDExRTNBQjM3OUY2OURBMThFOTA3IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkI5NDVGMzA0NDA3NDExRTNBQjM3OUY2OURBMThFOTA3Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Qjk0NUYzMDE0MDc0MTFFM0FCMzc5RjY5REExOEU5MDciIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Qjk0NUYzMDI0MDc0MTFFM0FCMzc5RjY5REExOEU5MDciLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz51MKHoAAABbklEQVR42uyX0U3DMBCG44h3wgRkA7IBdAM6AekEBSnvwHskYALCBNAJ6AZkAzqCmSCc4Tc6neLUDpb64pN+WU2cL3fna3unhmHI2rbNPOyS9EpakTp5M8/87Qzrw9jNEFCFtSBdzAVVCM3abg6oRG44JBhkQvgAzNp2KkfmgQG6xrVb0jtywq1me63qMY+OAb4LOIh1yKlN2Uss0HksUBkLdBMLpGOAHkm9C2SKbukqPmEbV2V/YX0jLaBOKaUdL/x5mTK/RzEsVrITKIESKIESKIESaMyO2PhQovksxZ4d+oAn0Rbb//pt0zQL7tHVCMS+wHS6n6Rnx56/0ArR2busBswJWrNZ4/CnVvDmnBqq2SAN/R7FzMYrdw0q0rN9nuauE5Oe7fPUhtZ5RtCb5tz21ny1oZmBVwnJ4c52uT0+n2Dfcur4K1HBHR7Q3nWEpFbiu7YKLkgk9ZRduv9PZW+mJuoQUI+8aF/QtwADAPinVQh+AUBFAAAAAElFTkSuQmCC);
        background-repeat: no-repeat;
        background-position: center 170%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-indent: -9999em;
        opacity: .35;

        &:hover {
          background-color: #f0f0f0;
          opacity: 1;
        }
      }
    }
  }

  .intro {
    float: left;
    margin: 0;
    padding: 1.3em 10px;
  }

  > form {
    margin-bottom: 1.75em;
  }

  > footer {
    color: #999;
    font-size: .8125em;
    padding-bottom: 1.15em;
    text-align: center;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .footer-links {
    margin-bottom: 1.8em;

    a {
      border-bottom: 1px solid #d0d0d0;
      margin-right: 1em;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  .footer-tagline {
    color: #ccc;
    font-size: .92em;

    a {
      font-weight: bold;
    }
  }

  &:after, &:before {
    content: '';
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid white;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -8px;
  }

  &:before {
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 14px;
    border-top-color: rgba(0, 0, 0, 0.12);
    bottom: -14px;
    margin-left: -10px;
  }
}
