<h1>Welcome</h1>

<p>
We have registered your email as <strong><%= @email %></strong>.
<br />
Please confirm your email with the link below.
</p>

<hr/>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
