<div class="row">
  <div class="col-xs-12">
    <div style="height: 30px; width: 30px; margin-top: 22px; margin-right: 8px;" class="pull-left">
      <%= image_tag attachments['logo.png'].url, alt: 'Helpful', width: 30, height: 30 %>
    </div>

    <h3 class="pull-left">Helpful</h3>
  </div> 
</div>

<div style="margin-top: 20px"></div>

<div class="row">
  <div class="col-xs-12">
    <p><strong>Hello <%= @resource.name %></strong></p>

    <p>We got a request to reset your password.</p>

    <p><%= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary' %></p>

    <p>If you didn't request the password reset, don't worry. You can just ignore this email.</p>
  </div>
</div>
