<% unless flash.empty? %>
  <div id="flash-messages">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> alert-dismissable">
        <div class="container">
          <button type="button" class="close" data-dismiss="alert" data-target=".alert-dismissable">&times;</button>
          <span class="<%= flash_icon_class(key) %>"></span>
          <%= value %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
