<!DOCTYPE html>
<html>
<head>
  <title>Helpful</title>
  <%= stylesheet_link_tag "landing-page", media: "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto+Slab:700|Open+Sans:300italic,400italic,400,700,300" %>
  <%= csrf_meta_tags %>
</head>
<body class="landing-page">
  <%= yield %>
</body>
</html>