<%= render 'shared/steps' %>

<div class="container react">
  <%= react_component('SignUpForm', 
                      {:presenter => @presenter.to_json}, 
                      {:prerender => true}) %>
</div>

