<%= render 'shared/navbar' %>

<div class="container">
  <div class="column-content">
    <p>
      <%= t('.help_text') %>
    </p>
    <pre>
      <code>
        <%= web_form_code %>
      </code>
    </pre>

  </div>
</div>
