<%= render 'shared/navbar' %>

<div class="container">
  <div class="column-content">
    <p>
      You can embed a web form anywhere that will allow your customers to submit their help requests directly to
      Helpful:
    </p>
    <pre>
      <code>
        <%= web_form_code %>
      </code>
    </pre>

  </div>
</div>
